/* CSS Document */

/* Backgrounds  */
.bg-gradient-primary {
  background: linear-gradient(to right, #da8cff, #9a55ff);
}

.bg-gradient-secondary {
  background: linear-gradient(to right, #e7ebf0, #868e96);
}

.bg-gradient-secondary1 {
  background: linear-gradient(to right, #bdc7d0, #868e96);
}


.bg-gradient-success {
  background: linear-gradient(to right, #84d9d2, #07cdae);
}
.bg-gradient-success1 {
  background: linear-gradient(to right, #ccd393, #a9b678);
}
.bg-gradient-info {
  background: linear-gradient(to right, #90caf9, #047edf 99%);
}
.bg-gradient-info1 {
  background: linear-gradient(to right, #75c9ea, #56afd2 99%);
}
.bg-gradient-warning {
  background: linear-gradient(to right, #ffd500, #eba600);
}

.bg-gradient-danger {
  background: linear-gradient(to right, #ffbf96, #fe7096);
}

.bg-gradient-light {
  background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
}

.bg-gradient-dark {
  background: linear-gradient(89deg, #5e7188, #3e4b5b);
}
/* Cards */
.card {
  border: 0;
  margin-bottom: 20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}
.card-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0rem;
}
.card-1 {
    border: 0;
    margin-bottom: 20px;
}
.card-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;

    border: 0;
    margin-bottom: 20px;
}
.card-2 .card-body-2 {
  padding: 0rem 2rem 1rem 1.5rem;
}


.card-1 .card-body {
  padding: 2.0rem 3.5rem 1rem 3.5rem;
}
.card-1 .card-body-1 {
  padding: 1.5rem 2rem 0rem 2rem;
}

.card .card-body {
  padding: 2.0rem 3.5rem 1rem 3.5rem;
}
.card .card-body-1 {
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card .card-body + .card-body {
  padding-top: 1rem;
}

.card .card-title {
  color: #000;
  margin-bottom: .75rem;
  text-transform: capitalize;
  font-family: "ubuntu-medium", sans-serif;
  font-size: 1.125rem;
}

.card .card-subtitle {
  font-family: "ubuntu-regular", sans-serif;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.card .card-description {
  margin-bottom: 1.5rem;
  font-family: "ubuntu-regular", sans-serif;
  color: #76838f;
}

.card.card-outline-success {
  border: 1px solid #1bcfb4;
}

.card.card-outline-primary {
  border: 1px solid #b66dff;
}

.card.card-outline-warning {
  border: 1px solid #fed713;
}

.card.card-outline-danger {
  border: 1px solid #fe7c96;
}

.card.card-rounded {
  border-radius: 5px;
}

.card.card-faded {
  background: #b5b0b2;
  border-color: #b5b0b2;
}

.card.card-circle-progress {
  color: #ffffff;
  text-align: center;
}

.card.card-img-holder {
  position: relative;
}

.card.card-img-holder .card-img-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.card-inverse-primary {
  background: rgba(182, 109, 255, 0.2);
  border: 1px solid #a764eb;
  color: #8a53c2;
}

.card-inverse-secondary {
  background: rgba(216, 216, 216, 0.2);
  border: 1px solid #c7c7c7;
  color: #a4a4a4;
}

.card-inverse-success {
  background: rgba(27, 207, 180, 0.2);
  border: 1px solid #19bea6;
  color: #159d89;
}

.card-inverse-info {
  background: rgba(25, 138, 227, 0.2);
  border: 1px solid #177fd1;
  color: #1369ad;
}

.card-inverse-warning {
  background: rgba(254, 215, 19, 0.2);
  border: 1px solid #eac611;
  color: #c1a30e;
}

.card-inverse-danger {
  background: rgba(254, 124, 150, 0.2);
  border: 1px solid #ea728a;
  color: #c15e72;
}

.card-inverse-light {
  background: rgba(248, 249, 250, 0.2);
  border: 1px solid #e4e5e6;
  color: #bcbdbe;
}

.card-inverse-dark {
  background: rgba(62, 75, 91, 0.2);
  border: 1px solid #394554;
  color: #2f3945;
}

.text-white {
    color: #ffffff !important;
}


.mb-5, .my-5 {
    margin-bottom: 1.5rem !important;
}
h2, .h2 {
    font-size: 2.88rem;
}

.font-weight-normal {
    font-family: "ubuntu-regular", sans-serif;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h4, .h4 {
    font-size: 1.8rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
h6, .h6 {
    font-size: 1.3rem;
}


@media(max-width:1440px) {
 
.card .card-body {
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.card .card-body-1 {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
 }

 @media(max-width:1366px) {

.card .card-body {
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.card .card-body-1 {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
 }