@charset "utf-8";
/* CSS Document */
body {
    font-family: "Microsoft YaHei", 'Open Sans', sans-serif;
    background: #eee;
}
.text-center {
    text-align:center;
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}


h4 {
    font-weight:700;
	color:#FFFFFF
}
h5{
    font-size:18px;
	text-align:center;
	font-weight:600;
    margin:5px 0;
}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.clear{clear:both}
a {
    color: #c3c3c3;
    text-decoration: none;
}
/*===================WRAPPER===================*/

#wrapper {
    width: 100%;
}

/*===================END WRAPPER===================*/


/*===================NAV TOP===================*/
.navbar {
 border-radius: 0px; 
}
.navbar-default {border:0px solid black;}
.top-navbar{position: fixed; width: 100%;  z-index: 300;   /* -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);*/
  -webkit-box-shadow: 0px 0px 3px #cccccc;
  -moz-box-shadow: 0px 0px 3px #cccccc;
  box-shadow: 0px 0px 3px #cccccc;
}
.top-navbar{margin:0px;}
.top-navbar{background: #b81c22;border-bottom:none;  min-height:60px;}
.navbar-brand {
    float: left;
    height: 50px;
     padding: 0px; 
    font-size: 18px;
    line-height: 20px;
}
 .navbar_1{position: fixed; width: 100%;  z-index: 999; height:30px; top:60px; background-color:#000;}
.layui-layout-left {
    margin-left: 180px;
    top: 0;
}
 .layui-nav-1{ padding:10px 20px;color:#fff;border-radius:2px;font-size:0;box-sizing:border-box}
 
 .layui-nav-1 *{font-size:14px}.layui-nav-1 .layui-nav-item{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}.layui-nav-1 .layui-nav-item a{display:block;padding:0 20px;color:#fff;color:rgba(255,255,255,.7);transition:all .3s;-webkit-transition:all .3s}
/*------NAVBAR HEADER------*/

.navbar-header {background: transparent;}
.top-navbar .navbar-brand {width:420px;height: 50px; padding:11px 0 0 15px}
.top-navbar .navbar-brand:hover {color: #FFFFFF;}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #283643;}
.navbar-default .navbar-toggle {border-color: #fff;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}

i.fa.fa-bars {font-size: 20px;  margin: 12px 0 0;}
i.fa.fa-bars:hover {color: #F36A5A;}

/*------END NAVBAR HEADER------*/


/*------NAVBAR RIGHT------*/


.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding:0;
color: #fff;
margin: 0px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #fabf3d !important;
background: transparent;
}
.navbar-right {margin:20px 10px 0 0;}

/*------NAVBAR RIGHT------*/


/*===================END NAV TOP===================*/




/*=========================-NAV SIDE========================*/

.navbar-side {
  z-index: 1;
  position: fixed;
  width: 192px;
  top: 90px;
  border:none;
  min-height:100%;
}

.sidebar-collapse{height:900px; overflow:scroll;}

.navbar-side .nav-header {
  /*border-top: 1px solid #535755;
  border-bottom: 1px solid #18191d;*/
  border-left: none;
  color: #d7d7d7;
  display: block;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 3.6em;
  padding: 0em 1.5em;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
}
.arrow {
    float: right;
    margin-top: 15px;
	color:#bababa;
}
.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.navbar-side .nav-second-level {
  margin: 0px;
  border: 0px;
/*  background: #f6f6f6;*/
}
.navbar-side .nav-second-level  > li > a:hover {
/*  background: #e0e0e8;*/
}
.navbar-side .nav-second-level  > .active > a,
.navbar-side .nav-second-level  > .active > a:hover {
/*  background: #d2d2dd;
  color: #555;
  text-shadow: none;*/
}
.navbar-side .nav-second-level  > .active > a:hover {
/*  background: #c3c3d2;*/
}
.navbar-side .nav-second-level  > li > a {
  font-size: 0.9em;
  color: #d7d7d7;
  padding: .7em 1em;
}

.navbar-side .nav-second-level li a {
    padding-left: 55px;
}
.navbar-side .nav-second-level.collapse.in {
  border-bottom: 1px solid #000;
}
.nav > li > a > i {
    margin-right: 10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #000;
}
.navbar-side .nav-three-level li a {
    padding-left: 70px;
}
.navbar-side .nav-three-level  > li > a {
  color: #fff;
  padding:10px 0 10px 70px;
}
.navbar-side .nav-four-level  > li > a {
  color: #fff;
  padding:10px 0 10px 90px;
}
/*=========================END NAV SIDE========================*/





/*======================PAGE WRAPPER===================*/
#page-wrapper {
    position: relative;
    top: 90px;
    min-height: 1000px;
    background: #f2f2f2;
    margin: 0 0 0 180px;
}


/*=====================END PAGE WRAPPER=====================*/


/*=======================PAGE INNER======================*/
#page-inner {
    width:100%;
    background-color:transparent;
    padding: 15px 15px;
    min-height:900px;
}
/*=======================END PAGE INNER=======================*/


/*==============================ROW=====================*/
.row {
    margin-right: -10px;
    margin-left: -10px;
}
input[type="submit"]{
	background:#eeb012;
	outline: none;
	font-size: 18px;
	font-weight: 400;
	padding:5px 14px;
	cursor: pointer;
	border: 2px dashed #eeb012;
	color: #fff;
	margin: 0px 9px;
	-webkit-appearance: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-moz-border-radius:9px;
}
input[type="submit"]:hover{
	color: #fff;
	background: #dca109;
	border: 2px dashed #dca109;
}

input[type="submit-blue"]{
	background:#56afd2;
	outline: none;
	font-size: 18px;
	font-weight: 400;
	padding:20px 75px;
	cursor: pointer;
	border: 2px dashed #56afd2;
	color: #fff;
	margin: 20px 30px;
	width:80%;
	text-align:center;
	-webkit-appearance: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-moz-border-radius:9px;
}
input[type="submit-blue"]:hover{
	color: #fff;
	background: #3b94b7;
	border: 2px dashed #3b94b7;
}
.table-t{ width: 90%;
	text-align:center}
.table-t>tbody>tr>td, .table-t>tbody>tr>th, .table-t>tfoot>tr>td, .table-t>tfoot>tr>th, .table-t>thead>tr>td, .table-t>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}
.text-main{margin:0 0 0 120px}
/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/
 @media(max-width:1600px) {
 

 }


 @media(max-width:1440px) {
 .top-navbar .navbar-brand img {width:420px;}
 input[type="submit-blue"]{
	background:#56afd2;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	padding:20px 20px;
	cursor: pointer;
	border: 2px dashed #56afd2;
	color: #fff;
	margin: 20px 20px;
	width:80%;
	-webkit-appearance: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-moz-border-radius:9px;
}
input[type="submit-blue"]:hover{
	color: #fff;
	background: #3b94b7;
	border: 2px dashed #3b94b7;
}
.table-t{ width: 100%;
	text-align:center}
.text-main{margin:0 0 0 10px}
 }
 @media(max-width:1366px) {
.top-navbar{min-height:60px;}
.top-navbar .navbar-brand img {width:420px;}
.navbar-side {
  top: 90px;
}
.navbar-side {
    z-index: 1;
    position: fixed;
    width: 192px;
    border: none;
    min-height: 100%;
}

.navbar_1 {
     top: 60px;
 }
#page-wrapper {
    top:90px;
    min-height: 900px;

}
input[type="submit-blue"]{
	background:#56afd2;
	outline: none;
	font-size: 16px;
	font-weight: 400;
	padding:20px 20px;
	cursor: pointer;
	border: 2px dashed #56afd2;
	color: #fff;
	margin: 20px 20px;
	width:80%;
	-webkit-appearance: none;
	font-family: 'Lato', sans-serif;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-moz-border-radius:9px;
}
input[type="submit-blue"]:hover{
	color: #fff;
	background: #3b94b7;
	border: 2px dashed #3b94b7;
}
 }
 @media(max-width:1280px) {
.top-navbar{min-height:60px;}
.top-navbar .navbar-brand img {width:420px;}
.navbar-side {
  top: 90px;
  width: 192px;
  
}
#page-wrapper {
    top:90px;
    min-height: 900px;

}
 }
 
  @media(max-width:1024px) {
.top-navbar{min-height:60px;}
.top-navbar .navbar-brand img {width:420px;}
.navbar-side {
  top: 90px;
  width: 192px;
  
}
#page-wrapper {
    top:90px;
    min-height: 700px;

}
 }
 
   @media(max-width:970px) {
.top-navbar{min-height:60px;}
.top-navbar .navbar-brand img {width:420px;}
.navbar-side {
  top: 90px;
  width: 192px;
  
}
#page-wrapper {
    top:90px;
    min-height: 700px;

}


 }
 
 
 
 
 @media(max-width:480px) {
 #page-wrapper {
top: 90px;
 }
.page-header small {
display: block;
padding-top: 14px;
font-size: 19px;
}
#sideNav{
	display:none;
}
}
