<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.oms.delivery.dao.DeliveryDao">
<!--    <select id="listAssembleCarrier" resultType="com.zkzn.les.wms.app.pojo.DeliveryPojo" parameterType="com.zkzn.les.wms.app.pojo.DeliveryPojo">-->
<!--        SELECT-->
<!--            MAX(ac.ID) AS "deliveryId",-->
<!--            MAX(ac.STATION_ORDER_ID) AS "stationOrderId",-->
<!--            MAX(ac.TASK_NUMBER) AS "taskNumber",-->
<!--            MAX(so.ORDER_TYPE) AS "deliveryType",-->
<!--            '0' AS "deliveryName",-->
<!--            MAX(so.LINE_CODE) AS "lineCode",-->
<!--            MAX(so.STATION_CODE) AS "stationCode",-->
<!--            MAX(so.STATION_DESC) AS "stationDesc",-->
<!--            MAX(so.COST_CENTER_ORDER) AS "costCenterOrder",-->
<!--            MAX(c.CARRIER_NAME) AS "carrierName",-->
<!--            MAX(so.BUSI_TYPE) AS "busiType",-->
<!--            MAX(c.CARRIER_CODE) AS "carrierCode",-->
<!--            MAX(so.ORDER_CODE) AS "orderCode",-->
<!--            MAX(so.ID) AS "stationOrderId",-->
<!--           COUNT(distinct sod.ID) AS "materialNumber"-->
<!--        FROM t_station_order so-->
<!--        LEFT JOIN t_station_order_detail sod ON sod.STATION_ORDER_ID = so.ID-->
<!--        LEFT JOIN t_assemble_carrier ac ON ac.STATION_ORDER_ID = so.ID-->
<!--        LEFT JOIN t_carrier c ON c.ID = ac.CARRIER_ID-->
<!--        <where>-->
<!--            sod.status = '20'-->
<!--        <if test="deliveryType != null and deliveryType !=''">-->
<!--            AND so.ORDER_TYPE = #{deliveryType}-->
<!--        </if>-->
<!--        <if test="busiType != null and busiType != ''">-->
<!--            AND so.BUSI_TYPE = #{busiType}-->
<!--        </if>-->
<!--        <if test="workshopCode != null and workshopCode != ''">-->
<!--            AND so.WORKSHOP_CODE = #{workshopCode}-->
<!--        </if>-->
<!--        <if test="lineCode != null and lineCode != ''">-->
<!--            AND so.LINE_CODE = #{lineCode}-->
<!--        </if>-->
<!--        <if test="stationCode != null and stationCode != ''">-->
<!--            AND so.STATION_CODE = #{stationCode}-->
<!--        </if>-->
<!--        <if test="requiredDate != null and requiredDate != ''">-->
<!--            AND date_format(so.REQUIRED_DATE, '%Y-%m-%d') = #{requiredDate}-->
<!--        </if>-->
<!--        <if test="warehouseCode !=null and warehouseCode !=''">-->
<!--            AND so.WAREHOUSE_CODE = #{warehouseCode}-->
<!--        </if>-->
<!--        </where>-->
<!--            GROUP BY so.ID-->
<!--    </select>-->

<!--    <select id="listDeliveryMaterialPojo" resultType="com.zkzn.les.wms.app.pojo.DeliveryMaterialPojo">-->
<!--        SELECT-->
<!--            sod.id AS "stationOrderDetailId",-->
<!--            sod.MATERIAL_CODE AS "materialCode",-->
<!--            sod.MATERIAL_DESC AS "materialDesc",-->
<!--            sod.MATERIAL_UNIT AS "materialUnit",-->
<!--            sod.PICK_NUM AS "pickNum",-->
<!--            m.IS_KEY AS "serialNum",-->
<!--            ml.SERIAL_NUM AS "serialCode"-->
<!--        FROM t_station_order_detail sod-->
<!--        LEFT JOIN t_material m ON m.MATERIAL_CODE = sod.MATERIAL_CODE AND m.STORAGE_LOCATION = sod.STATION_LOCATION-->
<!--        LEFT JOIN t_material_serial ml ON sod.ID = ml.TASK_ID-->
<!--        WHERE sod.STATION_ORDER_ID = #{stationOrderId} AND sod.STATUS = '20'-->
<!--    </select>-->

    <update id="updateAssembleCarrier" parameterType="com.zkzn.les.oms.delivery.pojo.DeliveryPojo">
        UPDATE o_shipment_task SET
        connect_name = #{connectName},
        connect_time = #{connectTime},
        task_status = #{taskStatus},
        update_user_id = #{updateUserId},
        update_time = #{updateTime}
        WHERE shipment_task_id = #{shipmentTaskId}
    </update>
    <select id="getReducesMaterialInStock" resultType="com.zkzn.les.oms.stationOrder.pojo.AppShipmentTaskDetailPojo">
        SELECT
            st.client_name AS "clientName",
            st.warehouse_code AS "warehouseCode",
            std.batch_no AS "batchNo",
            std.stock_status AS "stockStatus",
            std.material_desc AS "materialDesc",
            std.shipment_count AS "shipmentCount"
        FROM
            o_shipment_task_detail std
            LEFT JOIN o_shipment_task st ON std.shipment_task_id = st.shipment_task_id
        WHERE std.shipment_task_id = #{shipmentTaskId}
    </select>
    <update id="updateStationOrderDetailStatus">
        UPDATE t_station_order_detail SET
            status = #{status}
        WHERE STATION_ORDER_ID = #{stationOrderId} and STATUS = '20'
    </update>

    <delete id="deleteStorageOrderDetail">
        DELETE FROM t_material_storage_bin  WHERE ID IN (
            SELECT tsod.STORAGE_BIN_ID FROM t_station_order_detail sod
            LEFT JOIN t_storage_order_detail tsod ON sod.ID = tsod.STATION_DETAIL_ID
            WHERE STATION_ORDER_ID = #{stationOrderId} and sod.STATUS = '20'
        )
    </delete>

    <update id="updateStorageOrderDetail">
        UPDATE t_material_storage_bin set SUPPLIER_CODE = #{supplierCode},SUPPLIER_NAME = #{supplierName}
        WHERE ID IN (
            SELECT tsod.STORAGE_BIN_ID FROM t_station_order_detail sod
                                                LEFT JOIN t_storage_order_detail tsod ON sod.ID = tsod.STATION_DETAIL_ID
            WHERE STATION_ORDER_ID = #{stationOrderId} and sod.STATUS = '20'
        )
    </update>

<!--    <resultMap id="deliveryResult" type="com.zkzn.les.wms.app.pojo.MesDeliverPojo">-->
<!--        <id column="id" property="stationId"/>-->
<!--        <result column="factory" property="factory"/>-->
<!--        <result column="workshopcode" property="workshopcode"/>-->
<!--        <result column="stationCode" property="stationCode"/>-->
<!--        <result column="assembleOrderCode" property="assembleOrderCode"/>-->
<!--        <result column="orderCode" property="orderCode"/>-->
<!--        <result column="VINCode" property="VINCode"/>-->
<!--        <collection property="deliveryInfoList" ofType="com.zkzn.les.wms.app.pojo.DeliveryInf">-->
<!--            <id column="stationDetailId" property="stationDetailId"/>-->
<!--            <result column="materialCode" property="materialCode"/>-->
<!--            <result column="materialName" property="materialName"/>-->
<!--            <result column="supplierName" property="supplierName"/>-->
<!--            <result column="materailUnit" property="materailUnit"/>-->
<!--            <result column="storageLocation" property="storageLocation"/>-->
<!--            <result column="materialNum" property="materialNum"/>-->
<!--             <result column="reserveCode" property="reserveCode"/>-->
<!--            <result column="reserveRow" property="reserveRow"/>-->

<!--        </collection>-->
<!--    </resultMap>-->
<!--    <select id="findDeliverInfo" resultMap="deliveryResult" >-->
<!--SELECT tac.TASK_NUMBER    AS "assembleOrderCode",-->
<!--       tso.FACTORY        AS "factory",-->
<!--       tso.WORKSHOP_CODE  AS "workshopcode",-->
<!--       tso.STATION_CODE   AS "stationCode",-->
<!--       tso.id             AS "id",-->
<!--       tsod.MATERIAL_CODE AS "materialCode",-->
<!--       '' AS "materialName",-->
<!--       tsod.MATERIAL_UNIT AS "materailUnit",-->
<!--       tsod.reserve_code AS  "reserveCode",-->
<!--       tsod.reserve_row  AS "reserveRow",-->
<!--       tsod.PICK_NUM      AS "materialNum",-->
<!--       tsod.station_location "storageLocation",-->
<!--       tso.VIN_CODE       AS "VINCode",-->
<!--       tso.ORDER_CODE     AS "orderCode"-->

<!--  FROM t_assemble_carrier tac-->
<!--  LEFT JOIN t_station_order tso-->
<!--    on tac.STATION_ORDER_ID = tso.id-->
<!--  LEFT JOIN t_station_order_detail tsod-->
<!--    on tso.id = tsod.STATION_ORDER_ID-->
<!--        WHERE tac.STATION_ORDER_ID = #{stationOrderId}-->
<!--         and tsod.STATUS='20'-->
<!--         and tac.send_time is null-->
<!--    </select>-->

<!--    <update id="updateStationOrderDetailStatusByHandler">-->
<!--        UPDATE t_station_order_detail SET-->
<!--            status = 25-->
<!--        <where>-->
<!--            <foreach collection="list" item="item" open=" id in (" close=")" separator=",">-->
<!--                #{item.id}-->
<!--            </foreach>-->
<!--        </where>-->
<!--    </update>-->
</mapper>
