<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zkzn.les.uas.dao.OrgnizationDao">

    <select id="getById" parameterType="java.lang.String" resultMap="orgin">
	select * from t_organization where id=#{id}
</select>

    <select id="listWarehouseByUserId" resultType="java.util.Map">
    SELECT
        w.ORG_CODE AS "orgCode",
        w.ORG_NAME AS "orgName"
    FROM t_user_organization uo
    LEFT JOIN t_warehouse w ON uo.ORG_ID = w.ID
    WHERE uo.USER_ID = #{userId}
</select>

</mapper>


