<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zkzn.les.uas.dao.OrgnizationDao">


    <insert id="saveOrgnization" parameterType="com.zkzn.les.uas.pojo.Orgnization">

        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select  replace(uuid(),'-','') from dual
        </selectKey>

        insert into t_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="orgCode !=null and ''!=orgCode">
                org_code,
            </if>
            <if test="orgName !=null and ''!=orgName">
                org_name,
            </if>
            <if test="orgType !=null and ''!=orgType">
                org_type,
            </if>
            <if test="parentId !=null and ''!=parentId">
                parent_id,
            </if>
            <if test="status !=null and ''!=status">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id, jdbcType=VARCHAR},
            <if test="orgCode !=null and  ''!= orgCode">
                #{orgCode},
            </if>
            <if test="orgName != null and '' != orgName">
                #{orgName},
            </if>
            <if test="orgType != null and '' != orgType">
                #{orgType},
            </if>
            <if test="parentId != null and '' != parentId">
                #{parentId},
            </if>
            <if test="status != null and '' != status">
                #{status},
            </if>
        </trim>

    </insert>

    <update id="updateOrgnization" parameterType="com.zkzn.les.uas.pojo.Orgnization">

        update t_organization
        <trim prefix="set" suffixOverrides=",">
            <if test="orgCode !=null and  ''!= orgCode">org_code=#{orgCode}</if>
            <if test="orgName !=null and  ''!= orgName">,org_name=#{orgName}</if>
            <if test="orgType !=null and  ''!= orgType">,org_type=#{orgType}</if>
            <if test="parentId !=null and  ''!= parentId">,parent_id=#{parentId}</if>
            <if test="status !=null and  ''!= status">,status=#{status}</if>
        </trim>
        where id = #{id}
    </update>
    <select id="getById" parameterType="java.lang.String" resultMap="orgin">
	select * from t_organization where id=#{id}
</select>
    <delete id="deleteOrgnization">
        <if test="list.size()>0">
            delete from t_organization where
            <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
                id=#{item}
            </foreach>
        </if>
    </delete>
    <select id="listAll" resultMap="orgin" flushCache="true">
	select * from t_organization where status=1 order by org_code
</select>
    <select id="listByParam" resultMap="orgin" parameterType="com.zkzn.les.uas.pojo.Orgnization">
        select * from t_organization where 1=1
        <if test="parentId !=null and ''!=parentId">and parent_id=#{parentId}</if>
        <if test="orgName !=null and ''!=orgName">and org_name like '%${orgName}%'</if>
        <if test="orgType !=null and ''!=orgType">and org_type=#{orgType}</if>
        <if test="status !=null">and status=#{status}</if>
        <if test="orgCode !=null and ''!=orgCode">and org_code=#{orgCode}</if>
        order by PARENT_ID DESC ,org_code
        <if test="sortColums !=null and  '' !=sortColums">,${sortColums}</if>
    </select>
    <update id="updateStateById">
        update t_organization set status=#{status} where
        <foreach collection="id" item="item" index="index" open="(" separator="or" close=")">
            id=#{item}
        </foreach>
    </update>
    <select id="listWarehouse" resultType="java.util.Map">
        select distinct f.storage_location as "storageLocation" ,o.org_code as "orgCode" ,o.org_name as "orgName"
        from t_organization o left join t_factory_warehouse f on f.warehouse_code=o.org_code
        where o.org_type=4 and o.status=1
        <if test="orgId!=null">and o.id=#{orgId}</if>
        order by org_code
    </select>
    <select id="listUserOrgType" resultType="java.util.Map">
	select o.org_type as "orgType",o.id as "orgId" from t_user u left join t_organization o on u.org_id=o.id where u.id=#{id}
</select>
    <resultMap type="com.zkzn.les.uas.pojo.Orgnization" id="orgin">
        <result property="orgCode" column="org_code"/>
        <result property="orgName" column="org_name"/>
        <result property="orgType" column="org_type"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <select id="getUserRole" resultType="java.util.Map">
select r.role_code from t_user_role t left join t_role r on t.role_id = r.id and r.status = '1'
where t.user_id = #{userid} and r.ROLE_CODE='BZJ_MODEL'
</select>
<!--    <select id="listWarehouseByUserId" resultType="java.util.Map">-->
<!--	select distinct f.storage_location  as "storageLocation" ,o.warehouse_code as "orgCode" ,o.warehouse_name as "orgName",f.SAP_STORAGE_LOCATION as "sapStorageLocation"-->
<!--	from t_user_organization o left join t_factory_warehouse f on f.warehouse_code=o.warehouse_code-->

<!--    where o.user_id=#{userId} and f.status=1-->
<!--    order by o.warehouse_code-->
<!--</select>-->

<select id="listWarehouseByUserId" resultType="java.util.Map">
    SELECT
        w.ORG_CODE AS "orgCode",
        w.ORG_NAME AS "orgName"
    FROM t_user_organization uo
    LEFT JOIN t_warehouse w ON uo.ORG_ID = w.ID
    WHERE uo.USER_ID = #{userId}
</select>

</mapper>


