<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.uas.dao.ResourceDao">
<select id="listresource" parameterType="com.zkzn.les.uas.pojo.Resource" resultMap="baseResource">
	select * from t_resource where 1=1
	<if test="resourceName !=null and '' !=resourceName">and resource_name=#{resourceName}</if>
	<if test="resourceDesc !=null and '' !=resourceDesc">and resource_desc=#{resourceDesc}</if>
	<if test="resourceType !=null and '' !=resourceType">and resource_type=#{resourceType}</if>
	<if test="resourceParentId !=null and '' !=resourceParentId">and resource_parent_id=#{resourceParentId}</if>
	<if test="resourceUrl !=null and '' !=resourceUrl">and resource_url=#{resourceUrl}</if>
	<if test="resourceIcon !=null and '' !=resourceIcon">and resource_icon=#{resourceIcon}</if>
	<if test="resourceAttach !=null and '' !=resourceAttach">and resource_attach=#{resourceAttach}</if>
	<if test="resourceStatus !=null and '' !=resourceStatus">and resource_status=#{resourceStatus}</if>
	order by resource_parent_id desc,resource_order_no ASC
	<if test="sortColums !=null and  '' !=sortColums">, ${sortColums}</if>

</select>
<select id="getById" resultMap="baseResource">
	select * from t_resource where id=#{id}
</select>

<select id="listResourceByType" resultMap="baseResource">
	select * from t_resource where resource_type=#{type}
	<if test="status !=null">
		and resource_status=#{status}
	</if>
	<if test="attach !=null and ''!= attach">
		and resource_attach=#{attach}
	</if>
	order by resource_parent_id,resource_order_no ASC
</select>
<resultMap type="com.zkzn.les.uas.pojo.Resource" id="baseResource">
	<result property="resourceName" column="resource_name"/>
	<result property="resourceDesc" column="resource_desc"/>
	<result property="resourceType" column="resource_type"/>
	<result property="resourceParentId" column="resource_parent_id"/>
	<result property="resourceUrl" column="resource_url"/>
	<result property="resourceIcon" column="resource_icon"/>
	<result property="resourceAttach" column="resource_attach"/>
	<result property="resourceStatus" column="resource_status"/>
	<result property="resourceCode" column="resource_code"/>
	<result property="resourceOrderNo" column="resource_order_no"/>
	<result property="resourceNum" column="resource_num"/>
</resultMap>

</mapper>
