<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.oms.dao.ProcessOrderDao">



	<insert id="saveProcessOrder" parameterType="com.zkzn.les.oms.pojo.ProcessOrder">
		<if test="list!=null and list.size()>0">
			<foreach collection="list" open="begin" close=";end;" index="index"
				item="item" separator=";">
				insert into t_process_order
				<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="item.id !=null and ''!= item.id">id,</if>
					<if test="item.orderCode !=null and ''!= item.orderCode">order_code,</if>
					<if test="item.vinCode !=null and ''!= item.vinCode">vin_code,</if>
					<if test="item.requiredTime !=null ">required_time,</if>
					<if test="item.workshopCode !=null and ''!= item.workshopCode">workshop_code,</if>
					<if test="item.lineCode !=null and ''!= item.lineCode">line_code,</if>
					<if test="item.orderType !=null and ''!= item.orderType">order_type,</if>
					<if test="item.vehicleCode !=null and ''!= item.vehicleCode">vehicle_code,</if>
					<if test="item.vehicleDesc !=null and ''!= item.vehicleDesc">vehicle_desc,</if>
					<if test="item.sellOrder !=null and ''!= item.sellOrder">sell_order,</if>
					<if test="item.sellOrderItem !=null and ''!= item.sellOrderItem">sell_order_item,</if>
					<if test="item.customCode !=null and ''!= item.customCode">custom_code,</if>
					<if test="item.customDesc !=null and ''!= item.customDesc">custom_desc,</if>
					<if test="item.orderNum !=null ">order_num,</if>
					<if test="item.unit !=null and ''!= item.unit">unit,</if>
					<if test="item.priority !=null and ''!= item.priority">priority,</if>
					<if test="item.batchNo !=null and ''!= item.batchNo">batch_no,</if>
					<if test="item.serialNum !=null and ''!= item.serialNum">serial_num,</if>
					<if test="item.factory !=null and ''!= item.factory">factory,</if>
					<if test="item.orderId !=null and ''!= item.orderId">order_id,</if>
					<if test="item.carModel !=null and ''!= item.carModel">car_model,</if>
					<if test="item.businessType !=null and ''!= item.businessType">BUSINESS_TYPE,</if>
					<if test="item.createTime !=null">CREATE_TIME,</if>
				</trim>
				<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="item.id !=null and ''!= item.id">#{item.id},</if>
					<if test="item.orderCode !=null and ''!= item.orderCode">#{item.orderCode},</if>
					<if test="item.vinCode !=null and ''!= item.vinCode">#{item.vinCode},</if>
					<if test="item.requiredTime !=null ">#{item.requiredTime},</if>
					<if test="item.workshopCode !=null and ''!= item.workshopCode">#{item.workshopCode},</if>
					<if test="item.lineCode !=null and ''!= item.lineCode">#{item.lineCode},</if>
					<if test="item.orderType !=null and ''!= item.orderType">#{item.orderType},</if>
					<if test="item.vehicleCode !=null and ''!= item.vehicleCode">#{item.vehicleCode},</if>
					<if test="item.vehicleDesc !=null and ''!= item.vehicleDesc">#{item.vehicleDesc},</if>
					<if test="item.sellOrder !=null and ''!= item.sellOrder">#{item.sellOrder},</if>
					<if test="item.sellOrderItem !=null and ''!= item.sellOrderItem">#{item.sellOrderItem},</if>
					<if test="item.customCode !=null and ''!= item.customCode">#{item.customCode},</if>
					<if test="item.customDesc !=null and ''!= item.customDesc">#{item.customDesc},</if>
					<if test="item.orderNum !=null ">#{item.orderNum},</if>
					<if test="item.unit !=null and ''!= item.unit">#{item.unit},</if>
					<if test="item.priority !=null and ''!= item.priority">#{item.priority},</if>
					<if test="item.batchNo !=null and ''!= item.batchNo">#{item.batchNo},</if>
					<if test="item.serialNum !=null and ''!= item.serialNum">#{item.serialNum},</if>
					<if test="item.factory !=null and ''!= item.factory">#{item.factory},</if>
					<if test="item.orderId !=null and ''!= item.orderId">#{item.orderId},</if>
					<if test="item.carModel !=null and ''!= item.carModel">#{item.carModel},</if>
					<if test="item.businessType !=null and ''!= item.businessType">#{item.businessType},</if>
					<if test="item.createTime !=null">#{item.createTime},</if>
				</trim>
			</foreach>
		</if>
	</insert>

	<select id="listLockOrder" resultType="java.util.Map">
		select spo.ORDER_CODE as "orderCode",
		spo.VIN_CODE as "vinCode",
		spo.ORDER_TYPE as "orderType",
		spo.VEHICLE_CODE as "vehicleCode",
		spo.VEHICLE_DESC as "vehicleDesc",
		spo.SELL_ORDER as "sellOrder",
		spo.SELL_ORDER_ITEM as "sellOrderItem",
		spo.CUSTOM_CODE as
		"customCode",
		spo.CUSTOM_DESC as "customDesc",
		spo.ORDER_NUM as
		"orderNum",
		spo.UNIT as "unit",
		spo.PRIORITY as "priority",
		spo.BATCH_NO
		as "batchNo",
		spo.SERIAL_NUM as "serialNum",
		spo.FACTORY as "factory",
		spo.id as "orderId",
		spod.RESERVE_CODE as "reserveCode",
		spod.RESERVE_ROW as "reserveRow",
		spod.MATERIAL_ROW as "materialRow",
		spod.MATERIAL_CODE as "materialCode",
		spod.REQUIRED_NUM as
		"requiredNum",
		spod.ITEM_UNIT as "itemUnit",
		spod.RECOIL_MATERIAL_TAB as
		"recoilMaterialTab",
		spod.BULK_MATERIAL_TAB as "bulkMaterialTab",
		spod.SPECIAL_TYPE as "specialType",
		spod.STORAGE_LOCATION as
		"storageLocation",
		spod.DONE_ACTIVE_NO as "doneActiveNo",
		p.MODEL_CODE as "stationCode",
		spod.STATION_DESC as "stationDesc",
		spo.CAR_MODEL as "carModel",
		spod.id as "orderDetailId"
		from t_sap_process_order_detail spod
		left join t_sap_process_order spo ON spo.order_code = spod.order_code
		LEFT JOIN t_plm_plant_structure p ON p.WORKCENTER_CODE = spod.STATION_CODE
		where spod.VIRTUAL_MATERIAL_TAB is null
		  AND p.WORKSHOP_CODE = #{workshopCode}
		  AND p.LINE_CODE = #{lineCode}
		  AND p.model_type = 4
		<if test="orderCodes !=null and orderCodes.size()>0">
			<foreach collection="orderCodes" open="and  spod. ORDER_CODE in ("
				close=")" index="index" item="item" separator=",">
				#{item}
			</foreach>
		</if>
<!--		<if test="vinCodes !=null and vinCodes.size()>0">-->
<!--			<foreach collection="vinCodes" open="and vin_code in ("-->
<!--				close=")" index="index" item="item" separator=",">-->
<!--				#{item}-->
<!--			</foreach>-->
<!--		</if>-->
		<if test="factory !=null and ''!= factory ">and spod.FACTORY=#{factory}</if>
	<!-- <if test="stationCode !=null and ''!= stationCode "> and spod.STATION_CODE like '${stationCode}%'</if> -->
<!--		<if test="workshopCode !=null and ''!= workshopCode ">-->
<!--			and spod.STATION_CODE in (-->
<!--				select p2.model_code_sap-->
<!--				from t_plm_plant_structure p2-->
<!--				where p2.WORKSHOP_CODE = #{workshopCode} and p2.LINE_CODE = #{lineCode}-->
<!--				and p2.model_type = 4-->
<!--			)-->
<!--		</if>-->
	</select>

	<select id="listMesOrderInfo" resultType="java.util.Map">
		select FACTORY as"factory",
		SHOP_CODE as "shopCode",
		LINE_CODE as "lineCode",
		ORDER_CODE as "orderCode",
		VIN_CODE as "vinCode",
		ONLINE_SEQNUMBER as "onlineSeqnumber",
		ONLINE_TIME as "onlineTime"
		from T_MES_LOCK_PLAN mlp
		left join t_mes_lock_detail mld on mlp.id = mld.parent_id
		where
		mlp.id=#{id}
	</select>
	<select id="listAbnormalMaterialWorkshopBL" resultType="java.util.Map">
		SELECT distinct
		amw.factory "factory",
		amw.work_shop_code as "shopCode",
		amw.station_code as "stationCode",
		pps.MODEL_NAME as "stationDesc",
		amw.LINE_CODE as "lineCode",
		amw.order_code as "orderCode",
		amw.assemble_order_code as "assembleOrderCode",
		amw.vin_code as "vinCode",
		amw.material_code as "materialCode",
		m.material_desc as "materialName",
		amw.supplier_name as "supplierName",
		amw.material_num as "materialNum",
		amw.materail_unit as "materailUnit",
		amw.abnormal_code as "abnormalCode",
		amw.taskcode as "taskcode",
		amw.CREATE_TIME as "createTime",
		m.STORAGE_LOCATION as "storageLocation",
		mldTmp.ONLINE_TIME as "onlineTime",
		spo.id as "orderId",
		spo.vehicle_code as  "vehicleCode",
		spo.vehicle_desc  as  "vehicleDesc",
		spo.sell_order as "sellOrder",
		spo.sell_order_item as "sellOrderItem",
		spo.custom_code as "customCode",
		spo.custom_desc as "customDesc",
		spod.material_row as "materialRow",
		spod.reserve_row as "reserveRow",
		spod.reserve_code as "reserveCode"
		FROM
		t_abnormal_material_workshop amw
		left join t_material m on m.material_code=amw.material_code
		left join t_material m on m.MATERIAL_CODE=amw.material_code
		left join (select mld.order_code,min(mld.ONLINE_TIME) ONLINE_TIME from t_mes_lock_detail mld group by mld.order_code ) mldTmp on mldTmp.order_code=amw.order_code
		left join t_sap_process_order spo on spo.order_code = amw.order_code
		left join (select t.*
		from (select d.order_code,
		d.material_row,
		d.material_code,
		d.reserve_row,
		d.reserve_code,
		row_number() over(partition by d.order_code, d.material_code order by d.required_num desc) rn
		from t_sap_process_order_detail d) t
		where t.rn = 1) spod
		on spod.material_code = amw.material_code
		and spod.order_code = amw.order_code

		left join t_plm_plant_structure pps on pps.MODEL_CODE=amw.station_code and pps.MODEL_TYPE='4'
		where
		amw.taskcode=#{taskcode}
		<if test="storageLocation != null and storageLocation != ''">
			AND m.STORAGE_LOCATION = #{storageLocation}
		</if>
		<if test="list != null and list.size >0">
		<foreach collection="list" index="index" item="item" separator="," open="and amw.id in (" close=")">
			#{item}
		</foreach>
		</if>
	</select>



	<select id="listProcessOrder" parameterType="com.zkzn.les.oms.pojo.ProcessOrder"
		resultType="com.zkzn.les.oms.pojo.ProcessOrder">
		select po.ID, po.ORDER_CODE, po.VIN_CODE, po.REQUIRED_TIME,po.BUSINESS_TYPE,
		po.WORKSHOP_CODE,
		po.LINE_CODE, po.ORDER_TYPE,
		po.VEHICLE_CODE,
		po.VEHICLE_DESC, po.SELL_ORDER, po.SELL_ORDER_ITEM, po.CUSTOM_CODE,
		po.CUSTOM_DESC,
		po.ORDER_NUM, po.UNIT, po.PRIORITY, po.BATCH_NO,
		po.SERIAL_NUM, po.FACTORY, po.ORDER_ID,
		po.CREATE_TIME,
		po.id is_call,

		t1.MODEL_NAME as "stationName",
		t2.line_name as "lineName",
		t1.workshop_name "workShopName"

		from
		t_process_order po

		left join t_plm_plant_structure t1 on t1.workshop_code = po.workshop_code and t1.model_type = 2
		left join t_plm_plant_structure t2 on t2.line_code = po.line_code  and t2.model_type = 3


		WHERE 1=1
		<if
			test="processOrder.requiredTimeStr != null and '' != processOrder.requiredTimeStr">
			AND po.REQUIRED_TIME between
			str_to_date(#{processOrder.startRequiredTime}, '%Y-%m-%d') and
			str_to_date(#{processOrder.endRequiredTime}, '%Y-%m-%d')
		</if>
		<if test="processOrder.orderCode !=null and ''!= processOrder.orderCode">and po.ORDER_CODE like '%${processOrder.orderCode}%'</if>
		<if
			test="processOrder.workshopCode !=null and ''!= processOrder.workshopCode">
			
			<foreach collection="processOrder.workshopCode.split(';')" 
			open="and po.WORKSHOP_CODE in ( " close=")" index="index" item="item"
			separator=","
			>
				#{item}
			</foreach>
			
		</if>
		<if test="processOrder.lineCode !=null and ''!= processOrder.lineCode">
			<foreach collection="processOrder.lineCode.split(';')" 
			open="and  po.LINE_CODE in ( " close=")" index="index" item="item"
			separator=","
			>
				#{item}
			</foreach>
		</if>
		<if
			test="processOrder.vehicleCode !=null and ''!= processOrder.vehicleCode">and po.VEHICLE_CODE like '%${processOrder.vehicleCode}%'
		</if>
		<if test="processOrder.serialNum !=null and ''!= processOrder.serialNum">and po.SERIAL_NUM like '%${processOrder.serialNum}%'
		</if>
		<if
			test="processOrder.storageLocation !=null and ''!= processOrder.storageLocation">
			AND EXISTS(
			SELECT pod.PROCESS_ORDER_ID FROM t_process_order_detail pod
			left join t_factory_warehouse fw on
			pod.STORAGE_LOCATION=fw.STORAGE_LOCATION
			WHERE pod.PROCESS_ORDER_ID=po.ID
			<foreach collection="processOrder.storageLocation.split(';')"
				open="and fw.WAREHOUSE_CODE in (" close=")" separator="," index="index"
				item="item">
				#{item}
			</foreach>
			)
		</if>
		<if test="processOrder.businessType !=null and ''!= processOrder.businessType">
			<foreach collection="processOrder.businessType.split(';')"
					 open="and po.BUSINESS_TYPE  in (" close=")" separator="," index="index"
					 item="item">
				#{item}
			</foreach>
		</if>
       <if test="processOrder.sellOrder !=null and '' != processOrder.sellOrder">
		   po.SELL_ORDER = #{processOrder.sellOrder}
	   </if>
	</select>
	<select id="listAllProcessOrder" parameterType="com.zkzn.les.oms.pojo.ProcessOrder"
			resultType="com.zkzn.les.oms.pojo.ProcessOrder">
		select po.ID, po.ORDER_CODE, po.VIN_CODE, po.REQUIRED_TIME,po.BUSINESS_TYPE,
		po.WORKSHOP_CODE,
		po.LINE_CODE, po.ORDER_TYPE,
		po.VEHICLE_CODE,
		po.VEHICLE_DESC, po.SELL_ORDER, po.SELL_ORDER_ITEM, po.CUSTOM_CODE,
		po.CUSTOM_DESC,
		po.ORDER_NUM, po.UNIT, po.PRIORITY, po.BATCH_NO,
		po.SERIAL_NUM, po.FACTORY, po.ORDER_ID,
		po.CREATE_TIME,
		ifnull(tmpPod.PROCESS_ORDER_ID,0) is_call,
		t1.MODEL_NAME as "workShopName",
		t2.MODEL_NAME as "lineName",
		t3.MODEL_NAME as "stationName",
		tmpPod1.WAREHOUSE_name,
		tmpPod1.station_code
		from
		t_process_order po
		left join (select pod.PROCESS_ORDER_ID
			from t_process_order_detail pod
			where pod.call_time is not NULL
			group by pod.PROCESS_ORDER_ID
		) tmpPod on  tmpPod.PROCESS_ORDER_ID=po.id
		left join (select pod.PROCESS_ORDER_ID,max(fw.WAREHOUSE_name) WAREHOUSE_name,max(pod.station_code)station_code
			from t_process_order_detail pod
			left join t_factory_warehouse fw on
			pod.STORAGE_LOCATION=fw.STORAGE_LOCATION
			group by pod.PROCESS_ORDER_ID
		) tmpPod1 on  tmpPod1.PROCESS_ORDER_ID=po.id
		left join (select pod.PROCESS_ORDER_ID
		from t_process_order_detail pod
		where pod.STATUS in (0,1)
		group by pod.PROCESS_ORDER_ID
		) tmpPod2 on  tmpPod2.PROCESS_ORDER_ID=po.id
		left join t_plm_plant_structure t1 on t1.model_code = po.WORKSHOP_CODE and t1.model_type = 2
		left join t_plm_plant_structure t2 on t1.MODEL_CODE = t2.plant_item_id and t2.model_code = po.LINE_CODE and
		t2.model_type = 3
		left join t_plm_plant_structure t3 on t2.MODEL_CODE = t3.plant_item_id and t3.model_code = tmpPod1.station_code and
		t3.model_type = 4
		WHERE 1=1
		and tmpPod2.PROCESS_ORDER_ID is not null
		<if
				test="processOrder.requiredTimeStr != null and '' != processOrder.requiredTimeStr">
			AND po.REQUIRED_TIME between
			str_to_date(#{processOrder.startRequiredTime}, '%Y-%m-%d') and
			str_to_date(#{processOrder.endRequiredTime}, '%Y-%m-%d')
		</if>
		<if test="processOrder.orderCode !=null and ''!= processOrder.orderCode">and po.ORDER_CODE like '%${processOrder.orderCode}%'</if>
		<if
				test="processOrder.workshopCode !=null and ''!= processOrder.workshopCode">

			<foreach collection="processOrder.workshopCode.split(';')"
					 open="and po.WORKSHOP_CODE in ( " close=")" index="index" item="item"
					 separator=","
			>
				#{item}
			</foreach>

		</if>
		<if test="processOrder.lineCode !=null and ''!= processOrder.lineCode">
			<foreach collection="processOrder.lineCode.split(';')"
					 open="and  po.LINE_CODE in ( " close=")" index="index" item="item"
					 separator=","
			>
				#{item}
			</foreach>
		</if>
		<if
				test="processOrder.vehicleCode !=null and ''!= processOrder.vehicleCode">and po.VEHICLE_CODE like '%${processOrder.vehicleCode}%'
		</if>
		<if test="processOrder.serialNum !=null and ''!= processOrder.serialNum">and po.SERIAL_NUM like '%${processOrder.serialNum}%'
		</if>
		<if
				test="processOrder.storageLocation !=null and ''!= processOrder.storageLocation">
			AND EXISTS(
			SELECT pod.PROCESS_ORDER_ID FROM t_process_order_detail pod
			left join t_factory_warehouse fw on
			pod.STORAGE_LOCATION=fw.STORAGE_LOCATION
			WHERE pod.PROCESS_ORDER_ID=po.ID
			<foreach collection="processOrder.storageLocation.split(';')"
					 open="and fw.WAREHOUSE_CODE in (" close=")" separator="," index="index"
					 item="item">
				#{item}
			</foreach>
			<if test="processOrder.stationCode !=null and ''!= processOrder.stationCode">
				<foreach collection="processOrder.stationCode.split(';')"
						 open="and pod.station_code  in (" close=")" separator="," index="index"
						 item="item">
					#{item}
				</foreach>
			</if>
			)
		</if>

		<if test="processOrder.storageLocations==null and processOrder.stationCode !=null and ''!= processOrder.stationCode">
			and exists (
			SELECT pod.PROCESS_ORDER_ID FROM t_process_order_detail pod
			where pod.PROCESS_ORDER_ID=po.ID and pod.status in (0,1)
			<foreach collection="processOrder.stationCode.split(';')"
					 open="and pod.station_code  in (" close=")" separator="," index="index"
					 item="item">
				#{item}
			</foreach>
			)
		</if>
		<if test="processOrder.businessType !=null and ''!= processOrder.businessType">
			<foreach collection="processOrder.businessType.split(';')"
					 open="and po.BUSINESS_TYPE  in (" close=")" separator="," index="index"
					 item="item">
				#{item}
			</foreach>
		</if>
	</select>
	<!--查询前80按优先级排序的订单列表，并按车间产线筛选 -->
	<select id="listSortProcessOrder" parameterType="com.zkzn.les.oms.pojo.ProcessOrder"
		resultType="com.zkzn.les.oms.pojo.ProcessOrder">

		select  po.ID,
		 		po.ORDER_CODE,
				po.WORKSHOP_CODE,
				po.LINE_CODE,po.PRIORITY
		from
		t_process_order po
		WHERE 1=1

		<if
				test="processOrder.workshopCode !=null and ''!= processOrder.workshopCode">

			<foreach collection="processOrder.workshopCode.split(';')"
					 open="and po.WORKSHOP_CODE in ( " close=")" index="index" item="item"
					 separator=","
			>
				#{item}
			</foreach>

		</if>
		<if test="processOrder.lineCode !=null and ''!= processOrder.lineCode">
			<foreach collection="processOrder.lineCode.split(';')"
					 open="and  po.LINE_CODE in ( " close=")" index="index" item="item"
					 separator=","
			>
				#{item}
			</foreach>
		</if>
		order by po.PRIORITY asc

	</select>
	<update id="updateMesLockPlanStatus">
		update T_MES_LOCK_PLAN set
		status=1 where id =#{id}
	</update>
	<select id="getUnOrderSplit" resultType="java.lang.String">
		SELECT ID FROM T_MES_LOCK_PLAN WHERE STATUS = 0
	</select>
	<select id="getWarehouseNames" resultType="java.lang.String">
		select MAX(fw.WAREHOUSE_NAME) from t_factory_warehouse fw
		left join t_process_order_detail pod on pod.STORAGE_LOCATION=fw.STORAGE_LOCATION
		where pod.PROCESS_ORDER_ID=#{id}
		group  by fw.WAREHOUSE_CODE
	</select>
</mapper>