<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.oms.dao.SingleAllocateDetailDao">


	<select id="listSingleAllocateDetail" resultType="java.util.Map">
		select sad.id as "id",sa.ALLOCATION_ORDER as "allocationOrder",sad.ITEM_NO as "itemNo",sad.MATERIAL_CODE as "materialCode",sad.MATERIAL_NUM as "materialNum",sad.SEND_NUM as "sendNum",sad.RECEIVED_NUM as "receivedNum"
		,sa.IN_WAREHOUSE_NAME as "inWarehouseName",sad.FACTORY as "factory",sad.MATERIAL_UNIT as "materialUnit",sad.MATERIAL_NAME as "materialName"
		,sa.IN_WAREHOUSE_CODE as "inWarehouseCode",sa.stock_check_status as "stockCheckStatus"
		,sa.IN_STORAGE_LOCATION as "inStorageLocation",sa.IN_FACTORY as "inFactory"
		,sa.OUt_warehouse_NAME as "outWarehouseName"
		,sa.OUt_warehouse_CODE as "outWarehouseCode"
		,sa.OUT_STORAGE_LOCATION as "outStorageLocation",sa.OUT_FACTORY as "outFactory"
		,sa.STATUS as "status",sa.BILL_TYPE as "billType",sa.BILL_NAME as "billName",sad.STOCK_STATUS as "stockStatus",sad.STOCK_TYPE as "stockType"
		,sad.supplier_Name as "supplierName",sad.SUPPLIER_CODE as "suppllierCode",sad.SELL_ORDER as "sellOrder",sad.SELL_ITEM as "sellItem",sad.CUSTOMER as "customer",sad.CUSTOMER_NAME as "customerName",sad.SAP_ALLOCATION_ORDER as "sapAllocationOrder"
		,sad.CREATER_NAME as "createrName",sad.CREATE_TIME as "createTime",sad.MODIFIER_NAME as "modifierName",sad.MODIFIED_TIME as "modifiedTime",sad.les_item_no as "lesItemNo"
		from T_SINGLE_ALLOCATE_DETAIL sad 
		left join t_single_allocate sa on sad.PARENT_ID = sa.id
		<where>
			<if test="allocationOrder !=null and ''!= allocationOrder"> and sa.allocation_order=#{allocationOrder}</if>
			<if test="outWarehouseCode !=null and ''!= outWarehouseCode"> 
				<foreach collection="outWarehouseCode.split(';')" open="and sa.out_warehouse_code in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			</if>
			<if test="outStorageLocations !=null and outStorageLocations.size()>0">
				 <foreach collection="outStorageLocations" open="and sa.out_storage_location in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			 </if>
			<if test="startTimeStr !=null and ''!= startTimeStr and endTimeStr != null and ''!= endTimeStr"> 
				and sad.create_time between str_to_date(#{startTimeStr}, '%Y-%m-%d') and str_to_date(#{endTimeStr}, '%Y-%m-%d')</if>
			<if test="inWarehouseCode !=null and ''!= inWarehouseCode"> 
				<foreach collection="inWarehouseCode.split(';')" open="and in_warehouse_code in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			</if>
			<if test="inStorageLocations !=null and inStorageLocations.size()>0">
				 <foreach collection="inStorageLocations" open="and sa.in_storage_location in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			 </if>
			<if test="statusStr !=null and ''!=statusStr ">
				 <foreach collection="statusStr.split(';')" open="and sa.status in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			</if>
			<if test="outFactory !=null and ''!= outFactory">
			  	<foreach collection="outFactory.split(';')" open="and sa.out_factory in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			 </if>
			<if test="inFactory !=null and ''!= inFactory">
			   <foreach collection="inFactory.split(';')" open="and sa.in_factory in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			 </if>
			<if test="billType !=null and ''!= billType"> 
				<foreach collection="billType.split(';')" open="and sa.bill_type in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			</if>
			<if test="materialCode !=null and ''!= materialCode "> and sad.material_code =#{materialCode}</if>
			<if test="parentId !=null and ''!= parentId "> and sad.parent_Id =#{parentId}</if>
			<if test="sapAllocationOrder !=null and ''!= sapAllocationOrder "> and sa.sap_allocation_order =#{sapAllocationOrder}</if>
			<if test="stockCheckStatusStr !=null and ''!= stockCheckStatusStr ">
				 <foreach collection="stockCheckStatusStr.split(';')" open="and sa.stock_check_status in (" close=")" separator="," index="index" item="item">
				 	#{item}
				 </foreach>
			 </if>
		</where>
	</select>
	
	<update id="updateSingleAllocateDetail">
		update T_SINGLE_ALLOCATE_DETAIL  
		<trim prefix="set" prefixOverrides=",">
			<if test="sapAllocationOrder !=null and ''!= sapAllocationOrder">,sap_allocation_order=#{sapAllocationOrder}</if>
			<if test="parentId !=null and ''!= parentId">,parent_id=#{parentId}</if>
			<if test="itemNo !=null and ''!= itemNo">,item_no=#{itemNo}</if>
			<if test="materialCode !=null and ''!= materialCode">,material_code=#{materialCode}</if>
			<if test="factory !=null and ''!= factory">,factory=#{factory}</if>
			<if test="outStorageLocation !=null and ''!= outStorageLocation">,out_storage_location=#{outStorageLocation}</if>
			<if test="inStorageLocation !=null and ''!= inStorageLocation">,in_storage_location=#{inStorageLocation}</if>
			<if test="materialNum !=null ">,material_Num=#{material_Num}</if>
			<if test="supplierCode !=null and ''!= supplierCode">,supplier_Code=#{supplierCode}</if>
			<if test="assessmentType !=null and ''!= assessmentType">,assessment_Type=#{assessmentType}</if>
			<if test="batchNo !=null and ''!= batchNo">,batch_No=#{batchNo}</if>
			<if test="reasonMovement !=null and ''!= reasonMovement">,reason_Movement=#{reasonMovement}</if>
			<if test="sendNum !=null ">,send_Num=#{sendNum}</if>
			<if test="receivedNum !=null">,received_Num=#{receivedNum}</if>
			<if test="status !=null ">,status=#{status}</if>
			<if test="stockStatus !=null">,stock_status=#{stockStatus}</if>
			<if test="stockType !=null ">,stock_Type=#{stockType}</if>
			<if test="supplierName !=null and ''!= supplierName">,supplier_Name=#{supplierName}</if>
			<if test="sellOrder !=null and ''!= sellOrder">,sell_Order=#{sellOrder}</if>
			<if test="sellItem !=null and ''!= sellItem">,sell_Item=#{sellItem}</if>
			<if test="customer !=null and ''!= customer">,customer=#{customer}</if>
			<if test="customerName !=null and ''!= customerName">,customer_Name=#{customerName}</if>
			<if test="lesItemNo !=null and ''!= lesItemNo">,les_Item_No=#{lesItemNo}</if>
			<if test="modifierId !=null and ''!= modifierId">,modifier_Id=#{modifierId}</if>
			<if test="modifierName !=null and ''!= modifierName">,modifier_Name=#{modifierName}</if>
			<if test="modifiedTime !=null ">,modified_Time=#{modifiedTime}</if>
			<if test="materialName !=null and ''!= materialName">,material_Name=#{materialName}</if>
			<if test="materialUnit !=null and ''!= materialUnit">,material_Unit=#{materialUnit}</if>
			
			
		</trim>
		where id = #{id}
	</update>
	<update id="updateSingleAllocateDetails">
		<foreach collection="list" open="begin" close=";end;" index="index" item="item" separator=";">
			update T_SINGLE_ALLOCATE_DETAIL  
			<trim prefix="set" prefixOverrides=",">
				<if test="item.sapAllocationOrder !=null and ''!= item.sapAllocationOrder">,sap_allocation_order=#{item.sapAllocationOrder}</if>
				<if test="item.parentId !=null and ''!= item.parentId">,parent_id=#{item.parentId}</if>
				<if test="item.itemNo !=null and ''!= item.itemNo">,item_no=#{item.itemNo}</if>
				<if test="item.materialCode !=null and ''!= item.materialCode">,material_code=#{item.materialCode}</if>
				<if test="item.factory !=null and ''!= item.factory">,factory=#{item.factory}</if>
				<if test="item.outStorageLocation !=null and ''!= item.outStorageLocation">,out_storage_location=#{item.outStorageLocation}</if>
				<if test="item.inStorageLocation !=null and ''!= item.inStorageLocation">,in_storage_location=#{item.inStorageLocation}</if>
				<if test="item.materialNum !=null ">,material_Num=#{item.materialNum}</if>
				<if test="item.supplierCode !=null and ''!= item.supplierCode">,supplier_Code=#{item.supplierCode}</if>
				<if test="item.assessmentType !=null and ''!= item.assessmentType">,assessment_Type=#{item.assessmentType}</if>
				<if test="item.batchNo !=null and ''!= item.batchNo">,batch_No=#{item.batchNo}</if>
				<if test="item.reasonMovement !=null and ''!= item.reasonMovement">,reason_Movement=#{item.reasonMovement}</if>
				<if test="item.sendNum !=null ">,send_Num=#{item.sendNum}</if>
				<if test="item.receivedNum !=null">,received_Num=#{item.receivedNum}</if>
				<if test="item.status !=null ">,status=#{item.status}</if>
				<if test="item.stockStatus !=null">,stock_status=#{item.stockStatus}</if>
				<if test="item.stockType !=null ">,stock_Type=#{item.stockType}</if>
				<if test="item.supplierName !=null and ''!= item.supplierName">,supplier_Name=#{item.supplierName}</if>
				<if test="item.sellOrder !=null and ''!= item.sellOrder">,sell_Order=#{item.sellOrder}</if>
				<if test="item.sellItem !=null and ''!= item.sellItem">,sell_Item=#{item.sellItem}</if>
				<if test="item.customer !=null and ''!= item.customer">,customer=#{item.customer}</if>
				<if test="item.customerName !=null and ''!= item.customerName">,customer_Name=#{item.customerName}</if>
				<if test="item.lesItemNo !=null and ''!= item.lesItemNo">,les_Item_No=#{item.lesItemNo}</if>
				<if test="item.modifierId !=null and ''!= item.modifierId">,modifier_Id=#{item.modifierId}</if>
				<if test="item.modifierName !=null and ''!= item.modifierName">,modifier_Name=#{item.modifierName}</if>
				<if test="item.modifiedTime !=null ">,modified_Time=#{item.modifiedTime}</if>
				<if test="item.materialName !=null and ''!= item.materialName">,material_Name=#{item.materialName}</if>
				<if test="item.materialUnit !=null and ''!= item.materialUnit">,material_Unit=#{item.materialUnit}</if>
			</trim>
			where id = #{item.id}
		</foreach>
	</update>
	<insert id="saveSingleAllocateDetail">
		insert into T_SINGLE_ALLOCATE_DETAIL
		<trim prefix="(" suffix=")" prefixOverrides=",">
			id
			<if test="sapAllocationOrder !=null and ''!= sapAllocationOrder">,sap_allocation_order</if>
			<if test="parentId !=null and ''!= parentId">,parent_id</if>
			<if test="itemNo !=null and ''!= itemNo">,item_no</if>
			<if test="materialCode !=null and ''!= materialCode">,material_code</if>
			<if test="factory !=null and ''!= factory">,factory</if>
			<if test="outStorageLocation !=null and ''!= outStorageLocation">,out_storage_location</if>
			<if test="inStorageLocation !=null and ''!= inStorageLocation">,in_storage_location</if>
			<if test="materialNum !=null ">,material_Num</if>
			<if test="supplierCode !=null and ''!= supplierCode">,supplier_Code</if>
			<if test="assessmentType !=null and ''!= assessmentType">,assessment_Type</if>
			<if test="batchNo !=null and ''!= batchNo">,batch_No</if>
			<if test="reasonMovement !=null and ''!= reasonMovement">,reason_Movement</if>
			<if test="sendNum !=null ">,send_Num</if>
			<if test="receivedNum !=null">,received_Num</if>
			<if test="status !=null ">,status</if>
			<if test="stockStatus !=null">,stock_status</if>
			<if test="stockType !=null ">,stock_Type</if>
			<if test="supplierName !=null and ''!= supplierName">,supplier_Name</if>
			<if test="sellOrder !=null and ''!= sellOrder">,sell_Order</if>
			<if test="sellItem !=null and ''!= sellItem">,sell_Item</if>
			<if test="customer !=null and ''!= customer">,customer</if>
			<if test="customerName !=null and ''!= customerName">,customer_Name</if>
			<if test="lesItemNo !=null and ''!= lesItemNo">,les_Item_No</if>
			<if test="createrId !=null and ''!= createrId">,creater_Id</if>
			<if test="createrName !=null and ''!= createrName">,creater_Name</if>
			<if test="createTime !=null ">,create_Time</if>
			<if test="materialName !=null and ''!= materialName">,material_Name</if>
			<if test="materialUnit !=null and ''!= materialUnit">,material_Unit</if>
		</trim>
		<trim prefix="values (" suffix=")" prefixOverrides=",">
			 replace(uuid(),'-','')
			<if test="sapAllocationOrder !=null and ''!= sapAllocationOrder">,#{sapAllocationOrder}</if>
			<if test="parentId !=null and ''!= parentId">,#{parentId}</if>
			<if test="itemNo !=null and ''!= itemNo">,#{itemNo}</if>
			<if test="materialCode !=null and ''!= materialCode">,#{materialCode}</if>
			<if test="factory !=null and ''!= factory">,#{factory}</if>
			<if test="outStorageLocation !=null and ''!= outStorageLocation">,#{outStorageLocation}</if>
			<if test="inStorageLocation !=null and ''!= inStorageLocation">,#{inStorageLocation}</if>
			<if test="materialNum !=null ">,#{materialNum}</if>
			<if test="supplierCode !=null and ''!= supplierCode">,#{supplierCode}</if>
			<if test="assessmentType !=null and ''!= assessmentType">,#{assessmentType}</if>
			<if test="batchNo !=null and ''!= batchNo">,#{batchNo}</if>
			<if test="reasonMovement !=null and ''!= reasonMovement">,#{reasonMovement}</if>
			<if test="sendNum !=null ">,#{sendNum}</if>
			<if test="receivedNum !=null">,#{receivedNum}</if>
			<if test="status !=null ">,#{status}</if>
			<if test="stockStatus !=null">,#{stockStatus}</if>
			<if test="stockType !=null ">,#{stockType}</if>
			<if test="supplierName !=null and ''!= supplierName">,#{supplierName}</if>
			<if test="sellOrder !=null and ''!= sellOrder">,#{sellOrder}</if>
			<if test="sellItem !=null and ''!= sellItem">,#{sellItem}</if>
			<if test="customer !=null and ''!= customer">,#{customer}</if>
			<if test="customerName !=null and ''!= customerName">,#{customerName}</if>
			<if test="lesItemNo !=null and ''!= lesItemNo">,#{lesItemNo}</if>
			<if test="createrId !=null and ''!= createrId">,#{createrId}</if>
			<if test="createrName !=null and ''!= createrName">,#{createrName}</if>
			<if test="createTime !=null ">,#{createTime}</if>
			<if test="materialName !=null and ''!= materialName">,#{materialName}</if>
			<if test="materialUnit !=null and ''!= materialUnit">,#{materialUnit}</if>
		</trim>
	</insert>
	<insert id="saveSingleAllocateDetails">
		<foreach collection="list" open="begin" close=";end;" index="index" item="item" separator=";">
			insert into T_SINGLE_ALLOCATE_DETAIL
			<trim prefix="(" suffix=")" prefixOverrides=",">
				id
				<if test="item.sapAllocationOrder !=null and ''!= item.sapAllocationOrder">,sap_allocation_order</if>
				<if test="item.parentId !=null and ''!= item.parentId">,parent_id</if>
				<if test="item.itemNo !=null and ''!= item.itemNo">,item_no</if>
				<if test="item.materialCode !=null and ''!= item.materialCode">,material_code</if>
				<if test="item.factory !=null and ''!= item.factory">,factory</if>
				<if test="item.outStorageLocation !=null and ''!= item.outStorageLocation">,out_storage_location</if>
				<if test="item.inStorageLocation !=null and ''!= item.inStorageLocation">,in_storage_location</if>
				<if test="item.materialNum !=null ">,material_Num</if>
				<if test="item.supplierCode !=null and ''!= item.supplierCode">,supplier_Code</if>
				<if test="item.assessmentType !=null and ''!= item.assessmentType">,assessment_Type</if>
				<if test="item.batchNo !=null and ''!= item.batchNo">,batch_No</if>
				<if test="item.reasonMovement !=null and ''!= item.reasonMovement">,reason_Movement</if>
				<if test="item.sendNum !=null ">,send_Num</if>
				<if test="item.receivedNum !=null">,received_Num</if>
				<if test="item.status !=null ">,status</if>
				<if test="item.stockStatus !=null">,stock_status</if>
				<if test="item.stockType !=null ">,stock_Type</if>
				<if test="item.supplierName !=null and ''!= item.supplierName">,supplier_Name</if>
				<if test="item.sellOrder !=null and ''!= item.sellOrder">,sell_Order</if>
				<if test="item.sellItem !=null and ''!= item.sellItem">,sell_Item</if>
				<if test="item.customer !=null and ''!= item.customer">,customer</if>
				<if test="item.customerName !=null and ''!= item.customerName">,customer_Name</if>
				<if test="item.lesItemNo !=null and ''!= item.lesItemNo">,les_Item_No</if>
				<if test="item.createrId !=null and ''!= item.createrId">,creater_Id</if>
				<if test="item.createrName !=null and ''!= item.createrName">,creater_Name</if>
				<if test="item.createTime !=null ">,create_Time</if>
				<if test="item.materialName !=null and ''!= item.materialName">,material_Name</if>
				<if test="item.materialUnit !=null and ''!= item.materialUnit">,material_Unit</if>
			</trim>
			<trim prefix="values (" suffix=")" prefixOverrides=",">
				 replace(uuid(),'-','')
				<if test="item.sapAllocationOrder !=null and ''!= item.sapAllocationOrder">,#{item.sapAllocationOrder}</if>
				<if test="item.parentId !=null and ''!= item.parentId">,#{item.parentId}</if>
				<if test="item.itemNo !=null and ''!= item.itemNo">,#{item.itemNo}</if>
				<if test="item.materialCode !=null and ''!= item.materialCode">,#{item.materialCode}</if>
				<if test="item.factory !=null and ''!= item.factory">,#{item.factory}</if>
				<if test="item.outStorageLocation !=null and ''!= item.outStorageLocation">,#{item.outStorageLocation}</if>
				<if test="item.inStorageLocation !=null and ''!= item.inStorageLocation">,#{item.inStorageLocation}</if>
				<if test="item.materialNum !=null ">,#{item.materialNum}</if>
				<if test="item.supplierCode !=null and ''!= item.supplierCode">,#{item.supplierCode}</if>
				<if test="item.assessmentType !=null and ''!= item.assessmentType">,#{item.assessmentType}</if>
				<if test="item.batchNo !=null and ''!= item.batchNo">,#{item.batchNo}</if>
				<if test="item.reasonMovement !=null and ''!= item.reasonMovement">,#{item.reasonMovement}</if>
				<if test="item.sendNum !=null ">,#{item.sendNum}</if>
				<if test="item.receivedNum !=null">,#{item.receivedNum}</if>
				<if test="item.status !=null ">,#{item.status}</if>
				<if test="item.stockStatus !=null">,#{item.stockStatus}</if>
				<if test="item.stockType !=null ">,#{item.stockType}</if>
				<if test="item.supplierName !=null and ''!= item.supplierName">,#{item.supplierName}</if>
				<if test="item.sellOrder !=null and ''!= item.sellOrder">,#{item.sellOrder}</if>
				<if test="item.sellItem !=null and ''!= item.sellItem">,#{item.sellItem}</if>
				<if test="item.customer !=null and ''!= item.customer">,#{item.customer}</if>
				<if test="item.customerName !=null and ''!= item.customerName">,#{item.customerName}</if>
				<if test="item.lesItemNo !=null and ''!= item.lesItemNo">,#{item.lesItemNo}</if>
				<if test="item.createrId !=null and ''!= item.createrId">,#{item.createrId}</if>
				<if test="item.createrName !=null and ''!= item.createrName">,#{item.createrName}</if>
				<if test="item.createTime !=null ">,#{item.createTime}</if>
				<if test="item.materialName !=null and ''!= item.materialName">,#{item.materialName}</if>
				<if test="item.materialUnit !=null and ''!= item.materialUnit">,#{item.materialUnit}</if>
			</trim>
		</foreach>
	</insert>
	<delete id="deleteSingleAllocateDetail">
		delete from T_SINGLE_ALLOCATE_DETAIL where id in
		<foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
			#{item}
		</foreach>
	</delete>
</mapper>