/**
* 样式表
* @author	GaoYuan
* @date		2019.06.21
*/

.LESlist{max-width: 1545px; margin: 0 auto;}
.LESlist .tit{margin: 50px auto;}
.LESlist .tit .fl{border-right:2px solid #222; margin-left: 30px; margin-right: 15px; padding-right: 10px; padding-left: 70px; background: url(../images/LESlogo.png) no-repeat left center;}
.LESlist .tit .fl h1{font-size: 30px; font-weight: normal; line-height: 40px;}
.LESlist .tit .fl h2{font-size: 16px; font-weight: normal; line-height: 20px;}
.LESlist .tit h3{line-height: 60px; font-size: 36px; font-weight: normal;}

.LESlist .list{}
.LESlist .list table{width: 100%; border-collapse: collapse; margin-bottom: 40px;}
.LESlist .list table th,.LESlist .list table td{border: 1px solid #e8e8e8;}

.LESlist .list table p{font-size: 24px; font-weight: normal; color: white; line-height: 60px;}
.LESlist .list table p i{display: inline-block; width: 48px; height: 48px; vertical-align: middle; margin-right: 12px; background: url(../images/spiritTop.png) no-repeat left center;}
.LESlist .list table a{display: block; font-size: 14px; padding: 70px 0 15px 0; line-height: 40px; text-align: center; color: #333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; background: url(../images/当日入库作业计划.png) no-repeat center 30%;}

.LESlist .list table:nth-child(1) p{background: #57baf5;}
.LESlist .list table:nth-child(2) p{background: #44cc9a;}
.LESlist .list table:nth-child(3) p{background: #e7ae2b;}
.LESlist .list table:nth-child(4) p{background: #a7ae2b;}
.LESlist .list table:nth-child(5) p{background: #f06b64;}
.LESlist .list table:nth-child(6) p{background: #f2fb64;}


.LESlist .list table:nth-child(1) p i{background-position: left center;}
.LESlist .list table:nth-child(2) p i{background-position: -48px center;}
.LESlist .list table:nth-child(3) p i{background-position: -192px center;}
.LESlist .list table:nth-child(4) p i{background-position: right center;}

.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(1) a{background-image: url(../images/当日入库作业计划.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(2) a{background-image: url(../images/到货通知单管理.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(3) a{background-image: url(../images/收货任务监控.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(4) a{background-image: url(../images/入库作业进度管理.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(5) a{background-image: url(../images/仓位转移.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(6) a{background-image: url(../images/仓位合并.png);}
.LESlist .list table:nth-child(1) tr:nth-child(2) td:nth-child(7) a{background-image: url(../images/调拨任务管理.png);}


.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(1) a{background-image: url(../images/当日出库作业计划.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(2) a{background-image: url(../images/出库作业监控.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(3) a{background-image: url(../images/工位订单查询.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(4) a{background-image: url(../images/集配作业进度管理.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(5) a{background-image: url(../images/配送管理.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(6) a{background-image: url(../images/送达交接管理.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(7) a{background-image: url(../images/退料任务发起.png);}
.LESlist .list table:nth-child(2) tr:nth-child(2) td:nth-child(8) a{background-image: url(../images/退料进度管理.png);}

.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(1) a{background-image: url(../images/编组配送管理.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(2) a{background-image: url(../images/SAP管理工策略.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(3) a{background-image: url(../images/物料信息.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(4) a{background-image: url(../images/货架信息.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(5) a{background-image: url(../images/仓位管理.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(6) a{background-image: url(../images/区域管理.png);}
.LESlist .list table:nth-child(3) tr:nth-child(2) td:nth-child(7) a{background-image: url(../images/载具管理.png);}

.LESlist .list table:nth-child(4) tr:nth-child(2) td:nth-child(1) a{background-image: url(../images/仓位管理.png);}
.LESlist .list table:nth-child(4) tr:nth-child(2) td:nth-child(2) a{background-image: url(../images/区域管理.png);}
.LESlist .list table:nth-child(4) tr:nth-child(2) td:nth-child(3) a{background-image: url(../images/载具管理.png);}

.LESlist .list table:nth-child(5) tr:nth-child(2) td:nth-child(1) a{background-image: url(../images/仓库库存台账.png);}
.LESlist .list table:nth-child(6) tr:nth-child(2) td:nth-child(2) a{background-image: url(../images/仓库库存流水账.png);}
.LESlist .list table:nth-child(6) tr:nth-child(2) td:nth-child(3) a{background-image: url(../images/仓位库存台账.png);}
.LESlist .list table:nth-child(6) tr:nth-child(2) td:nth-child(4) a{background-image: url(../images/仓位库存流水账.png);}
.LESlist .list table:nth-child(5) tr:nth-child(2) td:nth-child(5) a{background-image: url(../images/仓位库存调整日志.png);}





.sectInfo{position: fixed; right: 0; top: 0; bottom: 0; margin: auto;}
.sectInfo ul{font-size: 16px; color: white; position: absolute; top: 155px; right: 0; margin: auto;}
.sectInfo ul li{border-radius: 3px; margin-top: 1px; position: relative; cursor: pointer;}

.sectInfo ul li .detail{width: 200px; min-height: 100px; padding-bottom: 10px; background-color: white; margin: 5px 0px; box-shadow: -2px 2px 10px  #e0e0e0;}
.sectInfo ul li .detail h1{font-size: 16px; line-height: 32px; font-weight: bold; text-align: center; margin-bottom: 10px;}
.sectInfo ul li:nth-child(1) .detail h1{background-color: #f88d62; margin-top: 0;}
.sectInfo ul li:nth-child(2) .detail h1{background-color: #40cad6;}
.sectInfo ul li:nth-child(3) .detail h1{background-color: #6698f5;}
.sectInfo ul li .detail p{padding: 2px 10px; font-size: 12px; color: #666;}




