<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzn.les.panel.dao.BoardDao">

    <select id="listAllInBoundInfo" resultType="java.util.Map">

        select ifnull(sum(rdr.qualified_num), 0) "qualifiedNum",
        sum(rdr.receive_num) "receiveNum",
        (sum(rdr.receive_num) - ifnull(sum(rdr.qualified_num), 0)) "surplusNum",
        max(w.warehouse_name) "warehouseName"
        from t_receive_detail_record rdr
        left join t_factory_warehouse w on w.storage_location=rdr.storage_location
        where rdr.status <![CDATA[<]]>  35 and date_format(rdr.create_time, '%Y-%m-%d')=#{currentDate}
        group by rdr.storage_location




    </select>

    <select id="listAllOutBoundInfo" resultType="java.util.Map">

        select ifnull(sum(t.totalNum), 0) "totalNum",
       ifnull(sum(t.finishNum), 0) "finishNum",
        (ifnull(sum(t.totalNum), 0) - ifnull(sum(t.finishNum), 0)) "surplusNum",
       (select w.warehouse_name
          from t_factory_warehouse w
         where w.storage_location = t.station_location) "warehouseName"
  from (select sod.pick_num totalNum, 0 finishNum, sod.station_location
          from t_station_order_detail sod
        where date_format(sod.create_time,  '%Y-%m-%d') = #{currentDate}
        union all

        select 0 totalNum, sod.pick_num finishNum, sod.station_location
          from t_station_order_detail sod
         where sod.status = 25 and  date_format(sod.create_time,  '%Y-%m-%d') = #{currentDate}

        ) t

 group by t.station_location





    </select>


    <select id="listWarehouseList" resultType="java.util.Map">

      select w.org_name "warehouseName"  from  t_warehouse w

       order by w.create_time desc



    </select>

    <select id="listInventory" resultType="java.util.Map">

    select sum(ifnull(t.stock_count,0)) "stockCount",
    sum(ifnull(t.enable_count,0)) "enableCount",
           sum(ifnull(t.pre_use_count, 0)) "preUseCount",
           t.warehouse_code "warehouseCode",
           max(w.warehouse_name) "warehouseName"
      from t_material_storage_bin t

      left join t_factory_warehouse w
        on w.warehouse_code = t.warehouse_code

     where t.warehouse_code is not null and w.warehouse_name is not null

   group by t.warehouse_code


    </select>


</mapper>