@charset "utf-8";
/* CSS Document */
body {
    font-family: "Microsoft YaHei", 'Open Sans', sans-serif;
    background: #052655;
    width: 384px;
	height:256px;
	margin:0 auto;

}
.text-center {
    text-align:center;
}


/*===================WRAPPER===================*/

#wrapper {
    width: 384px;
}
.clear{ clear:both} 

#page-top{margin:1px 0 2px 0;}

#page-wrapper {
    position: relative;
    min-height: 700px;
}


 .panel{
border-radius:0px;
}
.panel {
    color:#fff;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

 h1{
    font-size:1.2em;
    font-weight:700;
	color:#898989;
	text-align:center;
	margin-top:5px
}
.text_1{
    margin-top:10px;
    font-size:0.8em;
    font-weight:300;
	color:#898989;
	text-align:center;	
}
p{margin-bottom:-5px}

.list-main{margin-left:15px}
.list{
    display:inline-block;
    background-color: #9dc815;
    padding: .1em .4em .1em;
    font-size: 10px;
    color: #000;
    width:72px;
    text-align: center;
    border-radius: 0.2em;
    margin:5px 0 0 15px;

}
.list-primary{background-color:#009944}
.list-warning{background-color: #f39800;}
.list-danger{background-color: #e60012;}
.list-info{background-color: #ffe33f;}
.team-main{margin:5px 0 0 0;}
.text{font-size: 9px;
      font-weight:600;
      color:#898989;
	  margin-right:2px;
}

.team{
    display:inline-block;
    background-color: #9dc815;
    padding: .05em .4em .05em;
    font-size: 7px;
    font-weight:600;
    color: #000;
    width:18px;
    text-align: center;
}
.team-primary{background-color:#009944}
.team-warning{background-color:#f39800}
.team-danger{background-color:#e60012}
.team-info{background-color:#ffe33f}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px; 
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row_1 {
    margin:5px 0 0 0;
}
table, tr, td, th {
    font-size: 12px;
    font-weight:400;
    text-align:center;
    border: 1px solid #898989;
	color:#898989;
	
}
.panel-body {
    padding: 5px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #898989;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #052655; 
}