/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}
/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

.clearfix {
  clear: both;
}

body {
  overflow: hidden;
}
body * {
  font-family: "微软雅黑";
}
.login-bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
  z-index: 1;
}
.login-bg img {
  width: 100%;
}
.login-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.login-top {
  width: 100%;
  height:70px;
  background-color:#2a2424;
  margin: 0 auto;
}
.login-top img {
  width: 82px;
  margin: 23px 0 0 100px;
}
.login-bottom {
  width: 850px;
  margin: 80px auto 0 auto;
  height: 750px;
}

.login-btn {
  width: 120px;
  height: 40px;
  background-color: #cc2539;
  background-size: cover;
  border-radius:10px;
  margin-left:0;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  margin:0 0 20px 0;
}
.login-btn:hover {
  background-color: #ba0f24;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
}