<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.user.dao.UserDao">

	<select id="listUserPage" resultType="com.zkzn.les.basicInfo.user.pojo.User" parameterType="com.zkzn.les.basicInfo.user.pojo.User">
		SELECT
			u.user_id AS "userId",
			u.user_password AS "userPassword",
			u.user_name AS "userName",
			u.phone AS "phone",
			u.avatar AS "avatar",
			u.last_login_time AS "lastLoginTime"
		FROM
			t_user u
		WHERE
			1 = 1
			<if test = "userName !=null and ''!= userName" >AND u.user_name LIKE '%${userName}%'</if>
			<if test = "userPassword !=null and ''!= userPassword" >AND u.user_password = #{userPassword}</if>
			<if test = "phone !=null and ''!= phone" >AND u.phone LIKE '%${phone}%'</if>
			ORDER BY u.creater_time DESC
	</select>

	<select id="getUserRepeat" resultType="java.lang.Integer" parameterType="com.zkzn.les.basicInfo.user.pojo.User">
		select count(0) from t_user
		<where>
			<if test="phone !=null and ''!= phone"> and PHONE=#{phone}</if>
			<if test="userId !=null"> and user_id <![CDATA[ <> ]]> #{userId}</if>
		</where>
	</select>

	<insert id="saveUser" parameterType="com.zkzn.les.basicInfo.user.pojo.User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName !=null and ''!= userName">user_name</if>
			<if test="userPassword !=null and ''!= userPassword">,user_password</if>
			<if test="loginAccount !=null and ''!= loginAccount">,login_account</if>
			<if test="phone !=null and ''!= phone">,phone</if>
			<if test="orgId !=null and ''!= orgId">,org_id</if>
			<if test="avatar !=null and ''!= avatar">,avatar</if>
			<if test="status !=null">,status</if>
			<if test="createrId !=null and ''!= createrId">,creater_id</if>
			<if test="createrName !=null and ''!= createrName">,creater_name</if>
			<if test="createTime !=null">,creater_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName !=null and ''!= userName">#{userName}</if>
			<if test="userPassword !=null and ''!= userPassword">,#{userPassword}</if>
			<if test="loginAccount !=null and ''!= loginAccount">,#{loginAccount}</if>
			<if test="phone !=null and ''!= phone">,#{phone}</if>
			<if test="orgId !=null and ''!= orgId">,#{orgId}</if>
			<if test="avatar !=null and ''!= avatar">,#{avatar}</if>
			<if test="status !=null">,#{status}</if>
			<if test="createrId !=null and ''!= createrId">,#{createrId}</if>
			<if test="createrName !=null and ''!= createrName">,#{createrName}</if>
			<if test="createTime !=null">,#{createTime}</if>
		</trim>
	</insert>

	<select id="getUserById" resultType="com.zkzn.les.basicInfo.user.pojo.User" parameterType="com.zkzn.les.basicInfo.user.pojo.User">
		select
			user_password AS "userPassword"
		from t_user
		where user_id=#{userId}
	</select>

	<update id="updateUser" parameterType="com.zkzn.les.basicInfo.user.pojo.User">
		update t_user
		<trim prefix="set" prefixOverrides=",">
			<if test="userName !=null and ''!= userName">,user_name=#{userName}</if>
			<if test="loginAccount !=null and ''!= loginAccount">,login_account=#{loginAccount}</if>
			<if test="userPassword !=null and ''!= userPassword">,user_password=#{userPassword}</if>
			<if test="phone !=null and ''!= phone">,phone=#{phone}</if>
			<if test="orgId !=null and ''!= orgId">,org_id=#{orgId}</if>
			<if test="avatar !=null and ''!= avatar">,avatar=#{avatar}</if>
			<if test="status !=null">,status=#{status}</if>
			<if test="modifierId !=null and ''!= modifierId">,mondified_id=#{modifierId}</if>
			<if test="modifierName !=null and ''!= modifierName">,mondified_name=#{modifierName}</if>
			<if test="modifiedTime !=null">,mondified_time=#{modifiedTime}</if>
		</trim>
		where user_id =#{userId}
	</update>

	<delete id="deleteUser">
		<if test="list.size()>0">
			delete from t_user  where
			<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
				user_id=#{item}
			</foreach>
		</if>
	</delete>

	<select id="listUserWareHouse" resultType="java.util.Map">
		SELECT w.org_code as "wareHouseCode",w.org_name as "wareHouseName",w.id as "wareHouseId"
		FROM  t_warehouse w
		WHERE w.org_code not in (
			select tuo.WAREHOUSE_CODE from t_user_organization tuo where tuo.user_id = #{userId}
		)
		ORDER BY  w.org_code
	</select>

	<select id="listUserOrganization" resultType="java.util.Map">
		select uo.uo_id as "id",uo.warehouse_code as "warehouseCode",uo.warehouse_name as "warehouseName",
		uo.user_id as "userId",uo.org_id as "orgId"
		from  t_user_organization uo
		left join t_user u on uo.user_id=u.user_id
		<where>
			<if test="warehouseCode !=null and ''!= warehouseCode"> and uo.warehouse_code=#{warehouseCode}</if>
			<if test="warehouseName !=null and ''!= warehouseName"> and uo.warehouse_name like '%${warehouseName}%'</if>
			<if test="userId !=null and ''!= userId"> and u.user_id=#{userId}</if>
		</where>
	</select>

	<insert id="saveUserWareHouse">
		INSERT INTO t_user_organization(warehouse_code,warehouse_name,user_id,org_id)
		values
		<foreach collection="list" item="model" separator=",">
			(
			#{model.wareHouseCode}, #{model.wareHouseName}, #{model.userId},
			#{model.orgId}
			)
		</foreach>
	</insert>

	<delete id="removeUserOrganization">
		delete from t_user_organization where uo_id in
		<foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
			#{item}
		</foreach>
	</delete>

    <select id="listUserRole" resultType="java.util.Map">
        select r.id as "id",r.role_name as "roleName",r.role_code as "roleCode" from t_role r
        where exists (
        select * from t_user_role ur where ur.role_id = r.id and ur.user_id=#{userId}
        ) and r.STATUS=1
        <if test="roleName !=null and ''!= roleName"> and r.role_name like '%${roleName}%'</if>
        <if test="roleCode !=null and ''!= roleCode"> and r.role_code =#{roleCode}</if>
    </select>































<resultMap type="com.zkzn.les.basicInfo.pojo.User" id="BaseResultMap">
	<result property="id" column="id"/>
	<result property="userName"  column="user_name"/>
	<result property="phone" column="phone"/>
	<result property="userPassword"  column="user_password"/>
	<result property="avatar" column="avatar"/>
	<result property="status" column="status"/>
	<result property="orgId"  column="org_id"/>
	<result property="orgCode" column="org_code" />
	<result property="orgName" column="org_name"/>
	<result property="loginAccount" column="login_account"/>
	<result property="receiveStorageLocation" column="receive_storage_location"/>
</resultMap>

<!-- 所有满足条件的在用用户 -->
<select id="getUser"  parameterType="com.zkzn.les.basicInfo.pojo.User"  resultMap="BaseResultMap">
	select   u.id,
       u.user_name,
       u.login_account,
       u.user_password,
       u.phone,
       u.avatar,
       u.org_id,
       u.status,
       o.warehouse_code   org_code,
       o.warehouse_name  org_name
  from t_user u
  left join t_user_organization o
    on o.user_id=u.id
	where 1=1
	<if test="id != null and  '' != id">
		and u.id = #{id}
	</if>
	<if test="phone !=null  and '' != phone">
		and u.phone = #{phone}
	</if>
	<if test="status !=null and '' != status">
		and u.status = #{status}
	</if>
</select>

<!-- 修改用户 -->

<!--<update id="updateUser" parameterType="com.zkzn.les.basicInfo.pojo.User">-->
<!--	update t_user-->
<!--	<trim prefix="set" prefixOverrides=",">-->
<!--		<if test="userName !=null and ''!= userName">,user_name=#{userName}</if>-->
<!--		<if test="loginAccount !=null and ''!= loginAccount">,login_account=#{loginAccount}</if>-->
<!--		<if test="userPassword !=null and ''!= userPassword">,user_password=#{userPassword}</if>-->
<!--		<if test="phone !=null and ''!= phone">,phone=#{phone}</if>-->
<!--		<if test="orgId !=null and ''!= orgId">,org_id=#{orgId}</if>-->
<!--		<if test="avatar !=null and ''!= avatar">,avatar=#{avatar}</if>-->
<!--		<if test="status !=null">,status=#{status}</if>-->
<!--		<if test="modifierId !=null and ''!= modifierId">,MODIFIER_ID=#{modifierId}</if>-->
<!--		<if test="modifierName !=null and ''!= modifierName">,MODIFIER_NAME=#{modifierName}</if>-->
<!--		<if test="modifiedTime !=null">,MODIFIED_TIME=#{modifiedTime}</if>-->
<!--	</trim>-->
<!--	where id =#{id}-->
<!--</update>-->

<!--<insert id="saveUser">-->
<!--	<selectKey keyProperty="id" keyColumn="id" order="BEFORE" resultType="java.lang.String">-->
<!--		select  replace(uuid(),'-','') from dual-->
<!--	</selectKey>-->
<!--	insert into t_user-->
<!--	<trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--		id-->
<!--		<if test="userName !=null and ''!= userName">,user_name</if>-->
<!--		<if test="userPassword !=null and ''!= userPassword">,user_password</if>-->
<!--		<if test="loginAccount !=null and ''!= loginAccount">,login_account</if>-->
<!--		<if test="phone !=null and ''!= phone">,phone</if>-->
<!--		<if test="orgId !=null and ''!= orgId">,org_id</if>-->
<!--		<if test="avatar !=null and ''!= avatar">,avatar</if>-->
<!--		<if test="status !=null">,status</if>-->
<!--		<if test="createrId !=null and ''!= createrId">,CREATER_ID</if>-->
<!--		<if test="createrName !=null and ''!= createrName">,CREATER_NAME</if>-->
<!--		<if test="createTime !=null">,CREATE_TIME</if>-->
<!--	</trim>-->
<!--	<trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--		#{id, jdbcType=VARCHAR}-->
<!--		<if test="userName !=null and ''!= userName">,#{userName}</if>-->
<!--		<if test="userPassword !=null and ''!= userPassword">,#{userPassword}</if>-->
<!--		<if test="loginAccount !=null and ''!= loginAccount">,#{loginAccount}</if>-->
<!--		<if test="phone !=null and ''!= phone">,#{phone}</if>-->
<!--		<if test="orgId !=null and ''!= orgId">,#{orgId}</if>-->
<!--		<if test="avatar !=null and ''!= avatar">,#{avatar}</if>-->
<!--		<if test="status !=null">,#{status}</if>-->
<!--		<if test="createrId !=null and ''!= createrId">,#{createrId}</if>-->
<!--		<if test="createrName !=null and ''!= createrName">,#{createrName}</if>-->
<!--		<if test="createTime !=null">,#{createTime}</if>-->
<!--	</trim>-->
<!--</insert>-->

<!--<select id="listUserPage" resultMap="BaseResultMap">-->
<!--	select distinct u.id,login_account,user_password,user_name,u.phone, u.status,-->
<!--	&lt;!&ndash; case when (avatar is not null and instr(avatar,'\',1,1)>0) then SUBSTRB(avatar,instr(avatar,'\',1,length(avatar)-length(replace(avatar,'\','')))+1,length(avatar)) end as&ndash;&gt;-->
<!--	avatar from t_user u-->

<!--	left join t_user_organization o-->
<!--    on o.user_id=u.id  where 1=1-->
<!--	<if test="id !=null and ''!= id">and u.id=#{id}</if>-->
<!--	<if test="userName !=null and ''!= userName">and user_name like '%${userName}%'</if>-->
<!--	<if test="userPassword !=null and ''!= userPassword">and user_password=#{userPassword}</if>-->
<!--	<if test="phone !=null and ''!= phone">and u.phone=#{phone}</if>-->
<!--	<if test="orgId !=null and ''!= orgId">and o.warehouse_name  like '%${orgId}%'</if>-->
<!--	<if test="avatar !=null and ''!= avatar">and avatar=#{avatar}</if>-->
<!--	<if test="status !=null">and u.status=#{status}</if>-->
<!--	<if test="sortColums !=null and  '' !=sortColums">order by ${sortColums}</if>-->
<!--</select>-->

<!--<select id="getUserById" resultMap="BaseResultMap">-->
<!--	select * from t_user where 1=1 and id=#{id}-->
<!--</select>-->

<!--<delete id="deleteUser">-->
<!--<if test="list.size()>0">-->
<!--	delete from t_user  where-->
<!--	<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">-->
<!--		id=#{item}-->
<!--	</foreach>-->
<!--	</if>-->
<!--</delete>-->

<select id="getUserByPhone" resultMap="BaseResultMap">
	select * from t_user where 1=1 and phone=#{phoneNum} and status='1'
	<if test="id !=null and ''!=id"> and id!=#{id}</if>
</select>

<select id="listHasRoleUser" resultMap="BaseResultMap">
	select  distinct u.id,u.user_name,u.phone,u.avatar,u.status,o.warehouse_name  as org_id from t_user u
	 left join t_user_organization o
    on o.user_id=u.id


	where exists (
    select user_id from t_user_role  r where u.id=r.user_id and r.role_id='${roleId}')
    <if test="user.userName !=null and ''!= user.userName">and user_name='${user.userName}'</if>
    <if test="user.phone !=null and ''!= user.phone">and phone='${user.phone}'</if>
	<if test="user.orgId !=null and ''!= user.orgId">and o.warehouse_name  like '%${user.orgId}%'</if>
	<if test="user.status !=null">and u.status='${user.status}'</if>

</select>
<select id="listNoRoleUser" resultMap="BaseResultMap">
	select  distinct u.id,u.user_name,u.phone,u.avatar,u.status,o.warehouse_name as org_id from t_user u
	 left join t_user_organization o
    on o.user_id=u.id
	 where not exists (
    select user_id from t_user_role  r where u.id=r.user_id and r.role_id='${roleId}')
    <if test="user.userName !=null and ''!= user.userName">and user_name like CONCAT(CONCAT('%',#{user.userName}),'%')</if>
    <if test="user.phone !=null and ''!= user.phone">and phone='${user.phone}'</if>
	<if test="user.orgId !=null and ''!= user.orgId">and (u.org_id='${user.orgId}' or o.org_name='${user.orgId}')</if>
	<if test="user.status !=null">and u.status='${user.status}'</if>
</select>
<select id="getByUserName" resultMap="BaseResultMap">
	select * from t_user where user_name=#{userName}
</select>
<select id="getUserByPhoneAndPwd" resultMap="BaseResultMap">
	select * from t_user where PHONE=#{phone} and USER_PASSWORD=#{oldPassWord}
</select>

<!--<select id="listUserOrganization" resultType="java.util.Map">-->
<!--	select uo.uo_id as "id",uo.warehouse_code as "warehouseCode",uo.warehouse_name as "warehouseName",-->
<!--	uo.user_id as "userId",uo.org_id as "orgId"-->
<!--	from  t_user_organization uo-->
<!--	left join t_user u on uo.user_id=u.id-->
<!--	<where>-->
<!--		<if test="warehouseCode !=null and ''!= warehouseCode"> and uo.warehouse_code=#{warehouseCode}</if>-->
<!--		<if test="warehouseName !=null and ''!= warehouseName"> and uo.warehouse_name like '%${warehouseName}%'</if>-->
<!--		<if test="userId !=null and ''!= userId"> and u.id=#{userId}</if>-->
<!--	</where>-->
<!--</select>-->

<insert id="saveUserOrganization">
	<foreach collection="list" open="begin" close=";end;" index="index" item="item" separator=";">
		insert into t_user_organization (id,warehouse_code,warehouse_name,user_id,org_id) values
		( replace(uuid(),'-',''),#{item.warehouseCode},#{item.warehouseName},#{item.userId},#{item.orgId})

	</foreach>
</insert>






<!--	<select id="listUserWareHouse" resultType="java.util.Map">-->
<!--		SELECT w.org_code as "wareHouseCode",w.org_name as "wareHouseName",w.id as "wareHouseId"-->
<!--		FROM  t_warehouse w-->
<!--		WHERE w.status = 1 AND w.org_code not  in (-->
<!--			select tuo.WAREHOUSE_CODE from t_user_organization tuo where tuo.user_id = #{userId}-->
<!--		)-->
<!--		ORDER BY  w.org_code-->
<!--	</select>-->

<!--	<insert id="saveUserWareHouse">-->
<!--		INSERT INTO t_user_organization(warehouse_code,warehouse_name,user_id,org_id)-->
<!--		values-->
<!--		<foreach collection="list" item="model" separator=",">-->
<!--			(-->
<!--			#{model.wareHouseCode}, #{model.wareHouseName}, #{model.userId},-->
<!--			 #{model.orgId}-->
<!--			)-->
<!--		</foreach>-->
<!--	</insert>-->
</mapper>
