<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzn.les.wms.pc.inbound.dao.AccountResultDao">
  <resultMap id="BaseResultMap" type="com.zkzn.les.wms.pojo.AccountResult">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="ITEM_NO" jdbcType="NUMERIC" property="itemNo" />
    <result column="VOUCHER_CODE" jdbcType="VARCHAR" property="voucherCode" />
    <result column="VOUCHER_ITEM" jdbcType="NUMERIC" property="voucherItem" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="ORDER_DETAIL_ID" jdbcType="VARCHAR" property="orderDetailId" />
    <result column="VOUCHER_DATE" jdbcType="TIMESTAMP" property="voucherDate" />
    <result column="VOUCHER_YEAR" jdbcType="VARCHAR" property="voucherYear" />
    <result column="ACCOUNT_PARAM" jdbcType="VARCHAR" property="accountParam" />
    <result column="STATUS" jdbcType="NUMERIC" property="status" />
    <result column="ACCOUNT_TYPE" jdbcType="NUMERIC" property="accountType" />
    <result column="FAIL_DESC" jdbcType="VARCHAR" property="failDesc" />
  </resultMap>



  <select id="listAccountResult" parameterType="com.zkzn.les.wms.pojo.AccountResult" resultType="com.zkzn.les.wms.pojo.AccountResult">
		select ar.ID, ar.ORDER_CODE, ar.ITEM_NO, ar.VOUCHER_CODE, ar.VOUCHER_ITEM, ar.CREATE_TIME, ar.ORDER_ID, 
	    ar.ORDER_DETAIL_ID, ar.VOUCHER_DATE, ar.VOUCHER_YEAR, ar.ACCOUNT_PARAM, ar.STATUS, ar.ACCOUNT_TYPE, 
	    ar.FAIL_DESC,ar.TASK_ID
	    from t_account_result ar
		WHERE ar.STATUS = 0
        <if test="accountResult.accountType !=null and ''!= accountResult.accountType">and ar.ACCOUNT_TYPE = #{accountResult.accountType}</if>
		<if test="accountResult.orderCode !=null and ''!= accountResult.orderCode">and ar.ORDER_CODE like '%${accountResult.orderCode}%'</if>
		<if test="accountResult.materialCode !=null and ''!= accountResult.materialCode">and ar.ACCOUNT_PARAM like '%${accountResult.materialCode}%'</if>
		<if test="accountResult.status !=null">and ar.STATUS like '%${accountResult.status}%'</if>
		order by ar.STATUS asc
	</select>
	
	 </mapper>