<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.wms.pc.inbound.dao.InsectionRecordDao">

    <select id="listReceiveDetailRecordOfInSpect" resultType="java.util.Map">
        SELECT
        t.id,
        t.BILL_CODE,
        t.BILL_NAME,
        t.BILL_TYPE,
        t.INSPECTION_START_TIME,
        t.INSPECTION_END_TIME,
        t.INSPECTION_TASK_CODE,
        t.`STATUS`,
        t.WAREHOUSE_CODE,
        t.WAREHOUSE_NAME,
        d.INSPECTION_NAME,
        d.INSPECTION_NUM,
        d.UNQUALIFIED_NUM,
        d.INSPECTION_POSITION_CODE,
        d.INSPECTION_RESULT,
        d.INSPECTION_TIME,
        d.MATERIAL_CODE,
        d.MATERIAL_DESC,
        d.MATERIAL_UNIT,
        d.ITEM_NO,
        d.QUALIFIED_NUM,
        d.STORAGE_LOCATION,
        d.BATCH_NO
        FROM
        t_inspection_task t

        LEFT JOIN t_inspection_task_detail d ON t.id = d.INSPECTION_TASK_ID
        <where>
            <if test="statusStr !=null and statusStr != ''">
                and  d.`STATUS` in
                <foreach item="item" index="index" collection="statusStr.split(';')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>

            <if test="wareHouseCodes !=null and wareHouseCodes.size()>0">
                <foreach collection="wareHouseCodes" open="and t.wareHouse_code in (" close=")" index="index"
                         item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="inspectiondTaskCode !=null and ''!= inspectiondTaskCode">
                and t.INSPECTION_TASK_CODE like '%${inspectiondTaskCode}%'
            </if>
            <if test="billCode !=null and ''!=billCode">
                and t.BILL_CODE like '%${billCode}%'
            </if>

            <if test="materialCode !=null and ''!= materialCode">
                and d.MATERIAL_CODE like '%${materialCode}%'
            </if>
            <if test="startTimeBeginStr !=null and ''!= startTimeBeginStr and startTimeEndStr !=null and ''!= startTimeEndStr">
                and d.INSPECTION_TIME between str_to_date(#{startTimeBeginStr},' %Y-%m-%d %H:%i:%s') and
                str_to_date(#{startTimeEndStr},' %Y-%m-%d %H:%i:%s')
            </if>
            <if test="inspectPositionCode !=null and ''!= inspectPositionCode">
                and d.INSPECT_POSITION_CODE like '%${inspectPositionCode}%'
            </if>
            <if test="billType !=null and ''!= billType">
                <foreach collection="billType.split(';')" open="and t.bill_type in (" close=")" index="index"
                         item="item" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by d.status desc
    </select>
</mapper>