<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>排队入场实时信息</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/date.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
<div id="bodyDiv"></div>
<script type="text/html" id="bodyTpl">

</script>
<div id="app" style="text-align: center">
    <div class="header">
        <div class="title"><b>排队入场实时信息</b></div>
        <div class="date" id="date"></div>
    </div>
    <div class="main" id="div-table">
        <!-- 收货不及时原因 -->
        <table class="index-table index-table-three" id="tableData">
            <tr class="tableHeader" style="border-bottom: 1px solid #e5e5e5;">
                <th>排对号</th>
                <th>供应商</th>
                <th class="Supplier">车牌号</th>
                <th>状态</th>
                <th>卸货点</th>
            </tr>
            <tr v-for="item in data">
                <td>{{item.queueCode}}</td>
                <td>{{item.supplierName}}</td>
                <td>{{item.carCode}}</td>
                <td class="green" v-if="item.status==10">可以入场</td>
                <td class="orage" v-else>等待入场</td>
                <td>{{item.uplodPlat}}</td>
            </tr>
            <tr v-if="data.length==0">
                <td colspan="5" style="color: grey">暂无数据</td>
            </tr>
        </table>
    </div>
</div>
</body>
<script src="/iles/pages/layui/layui.all.js" charset="UTF-8"></script>
<script src="/iles/pages/js/serverPathConfig.js" charset="UTF-8"></script>
<!--<script src="/iles/pages/js/loginInspect.js" charset="UTF-8"></script>-->
<script type="text/javascript">
	var contextPath = config.wmsConfig.contextPath;
    new Vue({
        el: '#app',
        data() {
            return {
                data: []
            }
        },

        methods: {
            addList() {
                var that=this;
                //请求数据
                var api = contextPath+'receiveRecord/listReceiveRecordScreen';
                axios.get(api).then((res) => {
                    that.data = res.data.data;
                    console.log(that.data);
                }).catch((err) => {
                    console.log(err)
                });

                // var option = {
                //     url : contextPath + 'receiveRecord/listReceiveRecordScreen',
                //     type : 'GET',
                //     success : function(res) {
                //         that.data = res.data;
                //         console.log(that.data);
                //     },
                //     error : function(res) {
                //         layer.alert(res.msg)
                //     }
                // }
                // $.ajax(option);
            }
        },
        mounted() { //请求数据，操作dom可在这进行
            var that=this;
            that.addList();
            var t2 = window.setInterval(function() {
                console.log('每隔5秒钟执行一次');
                that.addList();
            },5000)
        },
    });
    function loadding() {
    }
</script>
</html>