<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.AreaDao">

	<insert id="saveArea" parameterType="com.zkzn.les.basicInfo.pojo.Area">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			select  replace(uuid(),'-','') from dual
		</selectKey>
		insert into t_area 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="areaCode !=null and ''!= areaCode">area_code,</if>
			<if test="areaName !=null and ''!= areaName">area_name,</if>
			<if test="areaType !=null and ''!= areaType">area_type,</if>
			<if test="parentId !=null and ''!= parentId">parent_id,</if>
			<if test="warehouse !=null and ''!= warehouse">warehouse,</if>
			<if test="useStatus !=null and ''!= useStatus">use_status,</if>
			<if test="createrId !=null and ''!= createrId">creater_id,</if>
			<if test="createrName !=null and ''!= createrName">creater_name,</if>
			<if test="createTime !=null ">create_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="areaCode !=null and ''!= areaCode">#{areaCode},</if>
			<if test="areaName !=null and ''!= areaName">#{areaName},</if>
			<if test="areaType !=null and ''!= areaType">#{areaType},</if>
			<if test="parentId !=null and ''!= parentId">#{parentId},</if>
			<if test="warehouse !=null and ''!= warehouse">#{warehouse},</if>
			<if test="useStatus !=null and ''!= useStatus">#{useStatus},</if>
			<if test="createrId !=null and ''!= createrId">#{createrId},</if>
			<if test="createrName !=null and ''!= createrName">#{createrName},</if>
			<if test="createTime !=null ">#{createTime}</if>
		</trim>
	</insert>

	<delete id="deleteArea">
	<if test="list.size()>0">
		delete from t_area where
		<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
			id=#{item}
		</foreach>
	</if>
	</delete>
	
	<update id="updateArea">
		update t_area
		<trim prefix="set" prefixOverrides=",">
			<if test="areaCode !=null and ''!= areaCode">,area_code = #{areaCode}</if>
			<if test="areaName !=null and ''!= areaName">,area_name=#{areaName}</if>
			<if test="areaType !=null and ''!= areaType">,area_type=#{areaType}</if>
			<if test="parentId !=null and ''!= parentId">,parent_id=#{parentId}</if>
			<if test="warehouse !=null and ''!= warehouse">,warehouse=#{warehouse}</if>
			<if test="stationCode !=null and ''!= stationCode">,station_code=#{stationCode}</if>
			<if test="modifierId !=null and ''!= modifierId">,modifier_id=#{modifierId}</if>
			<if test="modifierName !=null and ''!= modifierName">,modifier_name=#{modifierName}</if>
            <if test="modifiedTime!=null ">,modified_time=#{modifiedTime}</if>
			<if test="status !=null">,status=#{status}</if>
		</trim>
		where id=#{id}
	</update>
	
	<select id="listArea" parameterType="com.zkzn.les.basicInfo.pojo.Area" resultMap="areaMap">
		select a.*,o.org_name from t_area a left join t_warehouse o on a.warehouse=o.org_code where 1=1
		<if test="areaCode !=null and ''!= areaCode">and a.area_code like upper('%${areaCode}%')</if>
		<if test="areaName !=null and ''!= areaName">and a.area_name like '%${areaName}%'</if>
		<if test="areaType !=null and ''!= areaType">and a.area_type=#{areaType}</if>
		<if test="parentId !=null and ''!= parentId">and a.parent_id=#{parentId}</if>
		<if test="warehouse !=null and ''!= warehouse">and a.warehouse=#{warehouse}</if>
		<if test="useStatus !=null">and a.use_status=#{useStatus}</if>
 
		<if test="status !=null">and a.status=#{status}</if>
		order by a.create_time desc
		<if test="sortColums !=null and  '' !=sortColums">,${sortColums}</if>
	</select>

	<resultMap id="areaMap" type="com.zkzn.les.basicInfo.pojo.Area">
		<result property="areaCode" column="area_code"/>
		<result property="areaName" column="area_name"/>
		<result property="areaType" column="area_type"/>
		<result property="parentId" column="parent_id"/>
		<result property="createTime"  column="create_time"/>
		<result property="modifiedTime"  column="modified_time"/>
		<result property="status"  column="status"/>
		<result property="areaLevel"  column="area_level"/>
		<result property="warehouse"  column="warehouse"/>
		<result property="warehouseName"  column="org_name"/>
	</resultMap>

	<select id="getAreaByCode"  resultType="com.zkzn.les.basicInfo.pojo.Area">
		select * from t_area where  area_code=#{areaCode} and warehouse=#{warehouse} and status=1
	</select>
	
	<update id="changeStatus">
    <if test="ids.size()>0">
       update t_area 
        <trim prefix="set" prefixOverrides=",">
        <if  test="remark !=null and ''!= remark">,remark=#{remark}</if>
        <if test="status !=null">,status=#{status}</if>
        <if  test="modifier !=null and ''!= modifier">,modifier=#{modifier}</if>
        <if test="modifiedTime !=null">,modified_time=#{modifiedTime}</if>
       </trim>
       where 
        <foreach collection="ids" item="item" index="index" open="(" separator="or" close=")">
            id=#{item}
        </foreach>
    </if>
    </update>
    
	<select id="getWarehouse"  resultType="String">
	   select distinct warehouse from t_area where parent_id='0' order by warehouse
	</select>
	
	<select id="hasChildren" resultType="String">
	   select distinct parent_id from t_area where parent_id in
	   <foreach collection="originalAreaList"  item="item" index="index" separator="," open="(" close=")">
	       #{item.id,jdbcType=VARCHAR}
	   </foreach>
	</select>

</mapper>