<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.BasicCreceiptStrategyDao">
   
   <resultMap id="basicCreceiptStrategy" type="com.zkzn.les.basicInfo.pojo.StrategyDictionary">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
          <result property="value" column="value"/>
        <result property="createTime" column="create_time"/>
         <result property="warehouseCode" column="warehouse_code"/>
    </resultMap>
      <sql id="Base_Column_List" >
       id,  type, value,warehouse_code
       </sql>
  
  
      <insert id="saveBasicCreceiptStrategy" parameterType="java.util.List">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            select  replace(uuid(),'-','') from dual
        </selectKey>
        INSERT INTO t_strategy_dictionary(id,type,value,create_time,warehouse_code)
        
       select  replace(uuid(),'-',''), a.* from(
         <foreach collection="list" item="item" index="index" separator="union">
         select
            #{item.type},#{item.value},#{item.createTime} ,#{item.warehouseCode} 
          from dual  
        </foreach>
        ) a 
    </insert>
    
    
    <delete id="deleteBasicCreceiptStrategy" parameterType="String">
        delete from t_strategy_dictionary   where warehouse_code=#{warehouseCode} 
        
    </delete>
    

    <select id="listBasicCreceiptStrategy" resultMap="basicCreceiptStrategy">
        select 
        
        <include refid="Base_Column_List" /> 
        
        from t_strategy_dictionary    
    </select> 
    
     <select id="listStrategyDictionary" resultMap="basicCreceiptStrategy">
        select 
        
        <include refid="Base_Column_List" /> 
        
        from t_strategy_dictionary  
    </select> 
    
    <select  id="listStrategyDictionaryByWarehouseCode" resultMap="basicCreceiptStrategy" parameterType="String">
        select 
        
        <include refid="Base_Column_List" /> 
        
        from t_strategy_dictionary  
        
        where warehouse_code=#{warehouseCode} 
    </select>
    <select id="queryStrategyDictionaryByWarehouseCode" resultMap="basicCreceiptStrategy" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
            from t_strategy_dictionary
            where warehouse_code=#{warehouseCode}
    </select>
     
</mapper>