<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.ClientManageDao">
	<select id="getClientManageList" resultType="com.zkzn.les.basicInfo.pojo.ClientManage" parameterType="com.zkzn.les.basicInfo.pojo.ClientManage">
		SELECT
			c.client_manage_id AS "clientManageId",
		    w.ORG_NAME AS "warehouseName",
			c.warehouse_code AS "warehouseCode",
			c.client_name AS "clientName",
			c.category_name AS "categoryName",
			c.contract_price AS "contractPrice",
			c.usage_area AS "usageArea",
			c.contract_period AS "contractPeriod",
			c.payment_cycle AS "paymentCycle",
			c.operate_user_name AS "operateUserName",
			c.operate_user_id AS "operateUserId",
			c.create_time AS "createTime",
			c.create_user_id AS "createUserId",
			c.create_user_name AS "createUserName",
			c.update_time AS "updateTime",
			c.update_user_id AS "updateUserId",
			c.update_user_name AS "updateUserName"
		FROM b_client_manage c
		LEFT JOIN t_warehouse w ON c.warehouse_code = w.ORG_CODE
		WHERE 1=1
		<if test="clientName !=null and ''!= clientName"> and c.client_name like '%${clientName}%'</if>
		<if test="categoryName !=null and ''!= categoryName"> and c.category_name like '%${categoryName}%'</if>
		ORDER BY c.create_time DESC
	</select>

	<select id="checkClient" parameterType="com.zkzn.les.basicInfo.pojo.ClientManage" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM b_client_manage c
		WHERE c.client_name = #{clientName} AND c.warehouse_code = #{warehouseCode}
	</select>

	<select id="clientManageAdd" parameterType="com.zkzn.les.basicInfo.pojo.ClientManage">
		insert into b_client_manage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="clientName !=null and ''!= clientName">client_name,</if>
			<if test="warehouseCode !=null and ''!= warehouseCode">warehouse_code,</if>
			<if test="categoryName !=null and ''!= categoryName">category_name,</if>
			<if test="contractPrice !=null">contract_price,</if>
			<if test="usageArea !=null and ''!= usageArea">usage_area,</if>
			<if test="contractPeriod !=null and ''!= contractPeriod">contract_period,</if>
			<if test="paymentCycle !=null and ''!= paymentCycle">payment_cycle,</if>
			<if test="operateUserId !=null">operate_user_id,</if>
			<if test="operateUserName !=null and ''!= operateUserName">operate_user_name,</if>
			<if test="createUserId !=null">create_user_id,</if>
			<if test="createTime !=null">create_time</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="clientName !=null and ''!= clientName">#{clientName},</if>
			<if test="warehouseCode !=null and ''!= warehouseCode">#{warehouseCode},</if>
			<if test="categoryName !=null and ''!= categoryName">#{categoryName},</if>
			<if test="contractPrice !=null">#{contractPrice},</if>
			<if test="usageArea !=null and ''!= usageArea">#{usageArea},</if>
			<if test="contractPeriod !=null and ''!= contractPeriod">#{contractPeriod},</if>
			<if test="paymentCycle !=null and ''!= paymentCycle">#{paymentCycle},</if>
			<if test="operateUserId !=null">#{operateUserId},</if>
			<if test="operateUserName !=null and ''!= operateUserName">#{operateUserName},</if>
			<if test="createUserId !=null">#{createUserId},</if>
			<if test="createTime !=null">#{createTime}</if>
		</trim>
	</select>
	<delete id="deleteClientInfo">
		DELETE FROM b_client_manage WHERE client_manage_id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<update id="clientManageUpdate" parameterType="com.zkzn.les.basicInfo.pojo.ClientManage">
		update b_client_manage
		<trim prefix="set" prefixOverrides=",">
			<if test="clientName !=null and ''!= clientName">,client_name = #{clientName}</if>
			<if test="warehouseCode !=null and ''!= warehouseCode">,warehouse_code = #{warehouseCode}</if>
			<if test="categoryName !=null and ''!= categoryName">,category_name = #{categoryName}</if>
			<if test="contractPrice !=null">,contract_price = #{contractPrice}</if>
			<if test="usageArea !=null and ''!= usageArea">,usage_area = #{usageArea}</if>
			<if test="contractPeriod !=null and ''!= contractPeriod">,contract_period = #{contractPeriod}</if>
			<if test="paymentCycle !=null and ''!= paymentCycle">,payment_cycle = #{paymentCycle}</if>
			<if test="operateUserId !=null">,operate_user_id = #{operateUserId}</if>
			<if test="operateUserName !=null and ''!= operateUserName">,operate_user_name = #{operateUserName}</if>
			<if test="updateUserId !=null">,update_user_id = #{updateUserId}</if>
			<if test="updateTime !=null">,update_time = #{updateTime}</if>
		</trim>
		where client_manage_id = #{clientManageId}
	</update>
</mapper>
