<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzn.les.basicInfo.dao.CustomerDao">
   
   <select id="listCustomer" parameterType="com.zkzn.les.basicInfo.pojo.Customer" resultType="com.zkzn.les.basicInfo.pojo.Customer">
   
   select  CUSTOMER_CODE, CUSTOMER_NAME, 
      CUSTOMER_ADDRESS, IS_DEL, CREATE_TIME, 
      PROVINCE, PHONE, CONTACTS, 
      CITY  from T_CUSTOMER 
   
   
    <where>
     <if test="customerCode != null and ''!= customerCode">and CUSTOMER_CODE like '%${customerCode}%' </if>
     <if test="customerName != null and ''!= customerName"> and  CUSTOMER_NAME like '%${customerName}%' </if>
     <if test="isDel != null">and  IS_DEL = ${isDel} </if>
   </where>
   
   </select>
</mapper>