<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.InspectionDao">

    <insert id="saveInspect">
        INSERT INTO T_INSPECTION_RULE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="inspectionRule.wareHoseCode !=null and ''!= inspectionRule.wareHoseCode">WAREHOSE_CODE,</if>
            <if test="inspectionRule.wareHoseName !=null and ''!= inspectionRule.wareHoseName">WAREHOSE_NAME,</if>
            <if test="inspectionRule.billCode !=null and ''!= inspectionRule.billCode">BILL_CODE,</if>
            <if test="inspectionRule.billName !=null and ''!= inspectionRule.billName">BILL_NAME,</if>
            <if test="inspectionRule.supplierCode !=null and ''!= inspectionRule.supplierCode">SUPPLIER_CODE,</if>
            <if test="inspectionRule.supplierName !=null and ''!= inspectionRule.supplierName">SUPPLIER_NAME,</if>
            <if test="inspectionRule.createrId !=null and ''!= inspectionRule.createrId">creater_id,</if>
            <if test="inspectionRule.createrName !=null and ''!= inspectionRule.createrName">creater_name,</if>
            <if test="inspectionRule.createTime !=null ">create_time,</if>
            <if test="inspectionRule.isInspect !=null and inspectionRule.isInspect >= 0">IS_INSPECT,</if>
            <if test="inspectionRule.modifierId !=null and ''!= inspectionRule.modifierId ">modifier_id,</if>
            <if test="inspectionRule.modifierName !=null and ''!= inspectionRule.modifierName ">modifier_name,</if>
            <if test="inspectionRule.modifiedTime !=null ">modified_time</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
             replace(uuid(),'-',''),
            <if test="inspectionRule.wareHoseCode !=null and ''!= inspectionRule.wareHoseCode">
                #{inspectionRule.wareHoseCode},
            </if>
            <if test="inspectionRule.wareHoseName !=null and ''!= inspectionRule.wareHoseName">
                #{inspectionRule.wareHoseName},
            </if>
            <if test="inspectionRule.billCode !=null and ''!= inspectionRule.billCode">#{inspectionRule.billCode},</if>
            <if test="inspectionRule.billName !=null and ''!= inspectionRule.billName">#{inspectionRule.billName},</if>
            <if test="inspectionRule.supplierCode !=null and ''!= inspectionRule.supplierCode">
                #{inspectionRule.supplierCode},
            </if>
            <if test="inspectionRule.supplierName !=null and ''!= inspectionRule.supplierName">
                #{inspectionRule.supplierName},
            </if>
            <if test="inspectionRule.createrId !=null and ''!= inspectionRule.createrId">#{inspectionRule.createrId},
            </if>
            <if test="inspectionRule.createrName !=null and ''!= inspectionRule.createrName">
                #{inspectionRule.createrName},
            </if>
            <if test="inspectionRule.createTime !=null ">#{inspectionRule.createTime},</if>
            <if test="inspectionRule.isInspect !=null and inspectionRule.isInspect >= 0">#{inspectionRule.isInspect},
            </if>
            <if test="inspectionRule.modifierId !=null and ''!= inspectionRule.modifierId ">
                #{inspectionRule.modifierId},
            </if>
            <if test="inspectionRule.modifierName !=null and ''!= inspectionRule.modifierName ">
                #{inspectionRule.modifierName},
            </if>
            <if test="inspectionRule.modifiedTime !=null ">#{inspectionRule.modifiedTime}</if>
        </trim>
    </insert>

    <update id="updateById">
        UPDATE T_INSPECTION_RULE
        <trim prefix="set" prefixOverrides=",">
            <if test="wareHoseCode !=null and ''!= wareHoseCode">,WAREHOSE_CODE=#{wareHoseCode}</if>
            <if test="wareHoseName !=null and ''!= wareHoseName">,WAREHOSE_NAME=#{wareHoseName}</if>
            <if test="billCode !=null and '' != billCode ">,BILL_CODE=#{billCode}</if>
            <if test="billName !=null and '' != billName">,BILL_NAME=#{billName}</if>
            <if test="supplierCode !=null and '' != supplierCode">,SUPPLIER_CODE=#{supplierCode}</if>
            <if test="supplierName !=null adn '' != supplierName ">,SUPPLIER_NAME = #{supplierName}</if>
            <if test="createrId !=null and ''!= createrId">,creater_id=#{createrId}</if>
            <if test="createrName !=null and ''!= createrName">,creater_name=#{createrName}</if>
            <if test="createTime !=null ">,create_time=#{createTime}</if>
            <if test="modifierId !=null and''!= modifierId ">,modifier_id=#{modifierId}</if>
            <if test="modifierName !=null and ''!= modifierName ">,modifier_name=#{modifierName}</if>
            <if test="modifiedTime !=null ">,modified_time=#{modifiedTime},</if>
            <if test="isInspect !=null and isInspect >= 0">,IS_INSPECT=#{isInspect}</if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteById">
        <if test="list.size > 0">
            DELETE FROM T_INSPECTION_RULE
            WHERE
            <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
                id=#{item}
            </foreach>
        </if>
    </delete>

    <select id="findLists" resultType="com.zkzn.les.basicInfo.pojo.InspectionRule">
        SELECT i.id,i.wareHose_code,i.wareHose_name,i.bill_code,i.bill_name,i.supplier_code,i.supplier_name,i.is_inspect,
        i.creater_name,i.create_time,i.modifier_name,i.modified_time
        FROM T_INSPECTION_RULE i
        <where>
            <if test="inspectionRule.warehoseName !=null and ''!= inspectionRule.warehoseName">and i.warehose_name = #{inspectionRule.warehoseName}</if>
            <if test="inspectionRule.billName != null and ''!= inspectionRule.billName">and i.bill_name = #{inspectionRule.billName}</if>
            <if test="inspectionRule.billCode != null and '' != inspectionRule.billCode">and i.bill_code like '${inspectionRule.billCode}'</if>
            <if test="inspectionRule.supplierCode !=null and ''!= inspectionRule.supplierCode">and i.SUPPLIER_CODE like '%${inspectionRule.supplierCode}%'</if>
            <if test ="inspectionRule.warehouseCodes !=null and ''!=inspectionRule.warehouseCodes" >
                and i.warehose_code in
                <foreach item="item" index="index" collection="inspectionRule.warehouseCodes.split(';')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
            <if test="inspectionRule.billCodes !=null and '' !=inspectionRule.billCodes">
                and i.bill_code in
                <foreach item="item" index="index" collection="inspectionRule.billCodes.split(';')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
        </where>
        order by i.modified_time desc

    </select>

    <select id="findListsByCodes" resultType="com.zkzn.les.basicInfo.pojo.InspectionRule">
        SELECT i.id,i.wareHose_code,i.wareHose_name,i.bill_code,i.bill_name,i.supplier_code,i.supplier_name,i.is_inspect,
        i.creater_name,i.create_time,i.modifier_name,i.modified_time
        FROM T_INSPECTION_RULE i
        <where>
            <if test="inspectionRule.billCode != null and '' != inspectionRule.billCode">and i.BILL_CODE =
                #{inspectionRule.billCode}
            </if>
            <if test="inspectionRule.supplierCode !=null and ''!= inspectionRule.supplierCode">and i.SUPPLIER_CODE =
                #{inspectionRule.supplierCode}
            </if>
            <if test="inspectionRule.wareHoseCode !=null and ''!=inspectionRule.wareHoseCode">and
                i.WAREHOSE_CODE=#{inspectionRule.wareHoseCode}
            </if>
            <if test="inspectionRule.id !=null and '' != inspectionRule.id">and
                i.id != #{inspectionRule.id}
            </if>
            order by i.modified_time desc
        </where>
    </select>
    <select id="findSuppCode" resultType="java.util.Map">
        SELECT t.supplier_Code,t.supplier_name
        FROM T_SUPPLIER t
        WHERE t.SUPPLIER_CODE = #{inspectionRule.supplierCode}
    </select>
    <select id="findWareCode" resultType="java.util.Map">
        SELECT t.org_Code,t.org_name
        FROM t_warehouse t
        WHERE t.ORG_CODE = #{inspectionRule.supplierCode}
    </select>

    <select id="findById" resultType="com.zkzn.les.basicInfo.pojo.InspectionRule">
        SELECT i.id,i.wareHose_code,i.wareHose_name,i.bill_code,i.bill_name,i.supplier_code,i.supplier_name,i.is_inspect,
        i.creater_name,i.create_time,i.modifier_name,i.modified_time
        FROM T_INSPECTION_RULE i
        WHERE i.id = #{inspectionRule.id}
    </select>
</mapper>