<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.JobSettingDao">

	<insert id="saveJobSetting" parameterType="com.zkzn.les.basicInfo.pojo.JobSetting">
		<selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
			select  replace(uuid(),'-','') from dual
		</selectKey>
		insert into t_job_setting
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="jobName !=null and ''!= jobName">job_name,</if>
			<if test="jobCode !=null and ''!= jobCode">job_code,</if>
			<if test="jobClassName !=null and ''!= jobClassName">job_class_name,</if>
			<if test="jobGroup !=null ">job_group,</if>
			<if test="intervalTime !=null and ''!= intervalTime">interval_time,</if>
			<if test="cron !=null and ''!= cron">cron,</if>
			<if test="jobDesc !=null and ''!= jobDesc">job_desc,</if>
			<if test="type !=null and ''!= type">type,</if>
			<if test="url !=null and ''!= url">url,</if>
			<if test="status !=null">status</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=VARCHAR},
			<if test="jobName !=null and ''!= jobName">#{jobName},</if>
			<if test="jobCode !=null and ''!= jobCode">#{jobCode},</if>
			<if test="jobClassName !=null and ''!= jobClassName">#{jobClassName},</if>
			<if test="jobGroup !=null">#{jobGroup},</if>
			<if test="intervalTime !=null and ''!= intervalTime">#{intervalTime},</if>
			<if test="cron !=null and ''!= cron">#{cron},</if>
			<if test="jobDesc !=null and ''!= jobDesc">#{jobDesc},</if>
			<if test="type !=null and ''!= type">#{type},</if>
			<if test="url !=null and ''!= url">#{url},</if>
			<if test="status !=null ">#{status}</if>
		</trim>
	</insert>
	<delete id="deleteJobSetting">
	<if test="list.size()>0">
		delete from t_job_setting where 
		<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
		id=#{item}
		</foreach>
	</if>
	</delete>
	<update id="updateJobSetting" parameterType="com.zkzn.les.basicInfo.pojo.JobSetting">
		update t_job_setting 
		<trim prefix="set " prefixOverrides=",">
			<if test="jobName !=null and ''!= jobName">job_name=#{jobName}</if>
			<if test="jobCode !=null and ''!= jobCode">,job_code=#{jobCode}</if>
			<if test="jobClassName !=null and ''!= jobClassName">,job_class_name=#{jobClassName}</if>
			<if test="jobGroup !=null">,job_group=#{jobGroup}</if>
			<if test="intervalTime !=null and ''!= intervalTime">,interval_time=#{intervalTime}</if>
			<if test="cron !=null and ''!= cron">,cron=#{cron}</if>
			<if test="jobDesc !=null and ''!= jobDesc">,job_desc=#{jobDesc}</if>
			<if test="status !=null ">,status=#{status}</if>
			<if test="type !=null and ''!= type">,type=#{type}</if>
			<if test="url !=null and ''!= url">,url=#{url}</if>
		</trim>
		where id=#{id}
	</update>
	
	<select id="listJobSetting" parameterType="com.zkzn.les.basicInfo.pojo.JobSetting" resultMap="jobSettingMap">
		select  * from t_job_setting where 1=1
		<if test="jobName !=null and ''!= jobName">and job_name like '%${jobName}%'</if>
		<if test="jobCode !=null and ''!= jobCode">and job_code like '%${jobCode}%'</if>
		<if test="jobClassName !=null and ''!= jobClassName">and job_class_name=#{jobClassName}</if>
		<if test="jobGroup !=null">and job_group=#{jobGroup}</if>
		<if test="intervalTime !=null and ''!= intervalTime">and interval_time=#{intervalTime}</if>
		<if test="type1 !=null and ''!= type1">and type=#{type1}</if>
		<if test="cron !=null and ''!= cron">and cron=#{cron}</if>
		<if test="jobDesc !=null and ''!= jobDesc">and job_desc=#{jobDesc}</if>
		<if test="status !=null ">and status=#{status}</if>
	</select>
	
	<update id="updateStatusById">
		update t_job_setting set status=#{status} where id=#{id}
	</update>
	<resultMap id="jobSettingMap" type="com.zkzn.les.basicInfo.pojo.JobSetting">
		<result property="jobName" column="job_name" />
		<result property="jobCode" column="job_code" />
		<result property="jobClassName" column="job_class_name" />
		<result property="jobGroup" column="job_group" />
		<result property="intervalTime" column="interval_time" />
		<result property="jobDesc" column="job_desc" />
	</resultMap>
</mapper>