<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.LaunchStrategyDao">
 

	<select id="list" parameterType="com.zkzn.les.basicInfo.pojo.LaunchStrategy" resultType="com.zkzn.les.basicInfo.pojo.LaunchStrategy">
		select 
			l.ID,
			l.ORDER_TYPE,
			l.MATERIAL_STATUS,
			l.WAREHOUSE_CODE,
			(select WAREHOUSE_NAME from t_factory_warehouse where WAREHOUSE_CODE=l.WAREHOUSE_CODE group by WAREHOUSE_NAME) WAREHOUSE_NAME,
			l.POSITION_CODE,
			l.POSITION_NUMBER,
			l.level_one_code,
			l.level_two_code,
			l.level_three_code,
			
			   (select c.material_classification_name from t_material_classification c
         where c.level_value = 1
           and c.material_classification_code = l.level_one_code) level_one_name,
            (select c.material_classification_name from t_material_classification c
         where c.level_value = 2
           and c.material_classification_code = l.level_two_code) level_two_name,
            (select c.material_classification_name from t_material_classification c
         where c.level_value = 3
           and c.material_classification_code = l.level_three_code) level_three_name,
           
			l.CREATE_USER_ID
		from T_LAUNCH_STRATEGY l 
		
		 
		<where>
			<if test="orderType != null">
				and l.ORDER_TYPE =#{orderType}
			</if>
			<if test="materialStatus != null ">
				and l.MATERIAL_STATUS =#{materialStatus}
			</if>
			<if test="warehouseCode != null and warehouseCode != ''">
				and (select WAREHOUSE_NAME from t_factory_warehouse where WAREHOUSE_CODE=l.WAREHOUSE_CODE group by WAREHOUSE_NAME) like CONCAT(CONCAT('%',#{warehouseCode}),'%')
			</if>
			 
			 <if test="levelOneCode != null and levelOneCode != '' ">
				and l.level_one_code =#{levelOneCode}
			</if>
			<if test="levelTwoCode != null and levelTwoCode != '' ">
				and l.level_two_code =#{levelTwoCode}
			</if>
			<if test="levelThreeCode != null and levelThreeCode != '' ">
				and l.level_three_code =#{levelThreeCode}
			</if>
		</where>
		
		order by l.CREATE_TIME desc
	</select>

	<insert id="insert" parameterType="com.zkzn.les.basicInfo.pojo.LaunchStrategy">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			select  replace(uuid(),'-','') from dual
		</selectKey>
			INSERT INTO T_LAUNCH_STRATEGY
		<trim prefix="("  suffix=")" suffixOverrides=",">
			id,
			<if test="orderType != null">ORDER_TYPE,</if>
			<if test="materialStatus != null">MATERIAL_STATUS,</if>
			<if test="warehouseCode != null and warehouseCode != ''">WAREHOUSE_CODE,</if>
			<if test="warehouseCode != null and warehouseCode != ''">POSITION_CODE,</if>
			<if test="positionCode != null and positionCode !='' ">POSITION_NUMBER,</if>
			 <if test="levelOneCode != null and levelOneCode != ''">LEVEL_ONE_CODE,</if>
			<if test="levelTwoCode != null and levelTwoCode != ''">LEVEL_TWO_CODE,</if>
			<if test="levelThreeCode != null and levelThreeCode != ''">LEVEL_THREE_CODE,</if>
			<if test="createUserId != null and createUserId != ''">CREATE_USER_ID</if>
		</trim>
		<trim prefix="values ("  suffix=")" suffixOverrides=",">
			#{id},
			<if test="orderType != null">#{orderType},</if>
			<if test="materialStatus != null">#{materialStatus},</if>
			<if test="warehouseCode != null and warehouseCode != ''">#{warehouseCode},</if>
			 <if test="positionCode != null and positionCode !='' ">#{positionCode},</if>
			<if test="positionNumber != null">#{positionNumber},</if>
			 <if test="levelOneCode != null and levelOneCode != ''">#{levelOneCode},</if>
			<if test="levelTwoCode != null and levelTwoCode != ''">#{levelTwoCode},</if>
		    <if test="levelThreeCode != null and levelThreeCode != ''">#{levelThreeCode},</if>
			<if test="createUserId != null and createUserId != ''">#{createUserId}</if>
		</trim>
	</insert>
	
	<update id="update" parameterType="com.zkzn.les.basicInfo.pojo.LaunchStrategy">
		UPDATE T_LAUNCH_STRATEGY
		<trim prefix="set" suffixOverrides=",">
			<if test="orderType != null and orderType !=''">ORDER_TYPE=#{orderType}</if>
			<if test="materialStatus != null and materialStatus !=''">,MATERIAL_STATUS=#{materialStatus}</if>
			<if test="warehouseCode != null and warehouseCode != ''">,WAREHOUSE_CODE=#{warehouseCode}</if>
			 <if test="positionCode != null and positionCode !='' ">,POSITION_CODE=#{positionCode}</if>
			<if test="positionNumber != null and positionNumber !=''">,POSITION_NUMBER=#{positionNumber}</if>
			 <if test="levelOneCode != null and levelOneCode != ''">,LEVEL_ONE_CODE=#{levelOneCode}</if>
			<if test="levelTwoCode != null and levelTwoCode != ''">,LEVEL_TWO_CODE=#{levelTwoCode}</if>
			<if test="levelThreeCode != null and levelThreeCode != ''">,LEVEL_THREE_CODE=#{levelThreeCode}</if>
			 
		</trim>
		where id=#{id}
	</update>
	
	<delete id="delete">
		delete from T_LAUNCH_STRATEGY where
		<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
		id=#{item}
		</foreach>
	</delete>
	
	
	<insert id="saveBatch" parameterType="java.util.List">
    <if test="list.size()>0">
		INSERT INTO T_LAUNCH_STRATEGY (ID,ORDER_TYPE,MATERIAL_STATUS,WAREHOUSE_CODE,POSITION_CODE,POSITION_NUMBER,level_one_code,level_two_code,level_three_code,CREATE_USER_ID) 
		
		select  replace(uuid(),'-',''),a.* from(
	<foreach collection="list" item="item" index="index" separator="UNION ALL">
		SELECT #{item.orderType},#{item.materialStatus} ,#{item.warehouseCode} ,#{item.positionCode}
		
		,#{item.positionNumber} ,#{item.levelOneCode},#{item.levelTwoCode},#{item.levelThreeCode},#{item.createUserId}
		
		 
		  from dual
	</foreach>
	) a
</if>
</insert>
</mapper>
