<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.MaterialAssignPositionDao">
<resultMap type="com.zkzn.les.basicInfo.pojo.MaterialAssignPosition" id="BaseResultMap">
	<result property="id"  column="id"/>	
	<result property="materialCode"  column="MATERIAL_CODE"/>
	<result property="materialDesc"  column="MATERIAL_DESC"/>
	<result property="warehouseCode"  column="WAREHOUSE_CODE"/>
	<result property="warehouseName"  column="WAREHOUSE_NAME"/>
	<result property="storagePositionId"  column="STORAGE_POSITION_ID"/>
	<result property="positionCode"  column="POSITION_CODE"/>
	<result property="factory"  column="FACTORY"/>
	<result property="storageLocation"  column="STORAGE_LOCATION"/>
</resultMap>

	<select id="list" parameterType="com.zkzn.les.basicInfo.pojo.MaterialAssignPosition" resultMap="BaseResultMap">
		select t.*, o.org_name WAREHOUSE_NAME
		
		from t_material_ASSIGN_P0SITION t
		
		 left join t_warehouse o
		    on o.org_code = t.warehouse_code
		<where>
		 <if test="warehouseCode != null and warehouseCode != ''">
				and t.WAREHOUSE_CODE =#{warehouseCode}
			</if>
			<if test="materialCode != null and materialCode != ''">
				and t.MATERIAL_CODE like concat(concat('%',#{materialCode}),'%')
			</if>
			<if test="materialDesc != null and materialDesc != ''">
				and t.MATERIAL_DESC like concat(concat('%',#{materialDesc}),'%')
			</if>
			<if test="positionCode != null and positionCode != ''">
				and t.POSITION_CODE like concat(concat('%',#{positionCode}),'%')
			</if>
			
		</where>
		 order by t.create_time desc
	</select>
	
		<select id="countMaterialAssignPosition" parameterType="com.zkzn.les.basicInfo.pojo.MaterialAssignPosition" resultType="int">
		select count(*) from t_material_ASSIGN_P0SITION t
		
		 where  t.WAREHOUSE_CODE =#{warehouseCode}
		
		 and t.MATERIAL_CODE =#{materialCode} 
	 
		 
			<if test="id != null and id != ''">
				and t.id !=#{id} 
			</if>
			 
	</select>

	<insert id="insert" parameterType="com.zkzn.les.basicInfo.pojo.MaterialAssignPosition">
		<selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
			select  replace(uuid(),'-','') from dual
		</selectKey>
			INSERT INTO t_material_ASSIGN_P0SITION
		<trim prefix="("  suffix=")" suffixOverrides=",">
			id,
				<if test="warehouseCode != null and warehouseCode != ''">WAREHOUSE_CODE,</if>
			 
			<if test="materialCode != null and materialCode != ''">MATERIAL_CODE,</if>
			<if test="materialDesc != null and materialDesc != ''">MATERIAL_DESC,</if>
		
			 
			<if test="positionCode != null and positionCode != ''">POSITION_CODE,</if>
		 
		</trim>
		<trim prefix="values ("  suffix=")" suffixOverrides=",">
			#{id},
			<if test="warehouseCode != null and warehouseCode != ''">#{warehouseCode},</if>
		 
			<if test="materialCode != null and materialCode != ''">#{materialCode},</if>
			<if test="materialDesc != null and materialDesc != ''">#{materialDesc},</if>
			
		 
			<if test="positionCode != null and positionCode != ''">#{positionCode},</if>
			 
		</trim>
	</insert>
	
	<update id="update" parameterType="com.zkzn.les.basicInfo.pojo.MaterialAssignPosition">
		UPDATE t_material_ASSIGN_P0SITION
		<trim prefix="set" suffixOverrides=",">
			<if test="materialCode != null and materialCode != ''">MATERIAL_CODE=#{materialCode}</if>
			<if test="materialDesc != null and materialDesc != ''">,MATERIAL_DESC=#{materialDesc}</if>
			<if test="warehouseCode != null and warehouseCode != ''">,WAREHOUSE_CODE=#{warehouseCode}</if>
			<if test="storagePositionId != null and storagePositionId != ''">,STORAGE_POSITION_ID=#{storagePositionId}</if>
			<if test="positionCode != null and positionCode != ''">,POSITION_CODE=#{positionCode}</if>
			<if test="factory != null and factory != ''">,FACTORY=#{factory}</if>
			<if test="storageLocation != null and storageLocation != ''">,STORAGE_LOCATION=#{storageLocation}</if>
		</trim>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="java.util.Map">
	<if test="list.size()>0">
        delete from t_material_ASSIGN_P0SITION where
        <foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
            id=#{item}
        </foreach>
        </if>
		 
	</delete>
	
	<select id="listStoragePosition" parameterType="com.zkzn.les.basicInfo.pojo.StoragePosition" resultType="com.zkzn.les.basicInfo.pojo.StoragePosition">
		SELECT ID "Id",POSITION_CODE "positionCode", factory "factory",STORAGE_LOCATION "storageLocation"  FROM t_storage_position
		<where>
			<if test="positionCode != null and positionCode != ''">POSITION_CODE=#{positionCode,jdbcType=VARCHAR}</if>
		</where>
	</select>
	
	<!-- 检索查询 -->
	<select id="listMaterialInfo" parameterType="Map" resultType="Map">
	<!-- SELECT MATERIAL_CODE "materialCode",MATERIAL_DESC  "materialDesc" ,
	
	  factory "factory",STORAGE_LOCATION "storageLocation" from t_material WHERE 1=1 -->
	  
	  	 SELECT * from t_material WHERE 1=1
		<if test="id != null and id != ''">
		 AND ID=#{id}
		</if>
		<if test="materialCode != null and materialCode != ''">
		 AND MATERIAL_CODE = #{materialCode}
		</if>
		<if test="materialDesc != null and materialDesc != ''">
		 AND MATERIAL_DESC like concat('%', concat(#{materialDesc},'%'))
		</if>
		<if test="materialType != null and materialType != ''">
		 AND MATERIAL_TYPE=#{materialType}
		</if>
		<if test="factory != null and factory != ''">
		 AND FACTORY=#{factory}
		</if>
		<if test="isBatch != null">
		 AND IS_BATCH=#{isBatch}
		</if>
		<if test="isSeq != null">
		 AND IS_SEQ=#{isSeq}
		</if>
		<if test="isExpired != null">
		 AND IS_EXPIRED=#{isExpired}
		</if>
		<if test="inspectType != null and inspectType != ''">
		 AND INSPECT_TYPE=#{inspectType}
		</if>
		<if test="purchaseType != null and purchaseType != ''">
		 AND PURCHASE_TYPE=#{purchaseType}
		</if>
		<if test="storageLocation != null and storageLocation != ''">
		 AND STORAGE_LOCATION=#{storageLocation}
		</if>
		<if test="warehouse != null and warehouse != ''">
		 AND WAREHOUSE=#{warehouse}
		</if>
		<if test="status != null">
		 AND STATUS=#{status}
		</if>
		order by STORAGE_LOCATION
	</select>
</mapper>
