<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zkzn.les.basicInfo.dao.PrivilegeDao">

	<insert id="savePrivilege" >
	<if test="list.size()>0">
		insert into t_privilege (id,res_id,role_id) select  replace(uuid(),'-',''),a.* from(
		<foreach collection="list" item="privilege" index="index" separator="UNION ALL">
			SELECT #{privilege.resId},#{privilege.roleId} from dual
		</foreach>
		) a
	</if>
	</insert>

	<delete id="deletePrivilege">
	<if test="list.size()>0">
		delete from t_privilege where 
		<foreach collection="list" item="privilege" index="index" open="(" separator="or" close=")">
			res_id=#{privilege.resId} and role_id=#{privilege.roleId}
		</foreach>
		</if>
	</delete>

	<select id="listPrivilegeByRoleId" resultType="com.zkzn.les.basicInfo.pojo.Privilege">
		select * from t_privilege where role_id = #{roleId}
	</select>

	<select id="queryPrivilegeByRoleId" resultMap="privileMap">
		select * from t_privilege where role_id=#{roleId}
	</select>
	<resultMap type="com.zkzn.les.basicInfo.pojo.Privilege" id="privileMap">
		<result property="resId" column="res_id" />
		<result property="roleId" column="role_id" />
	</resultMap>
</mapper>