<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zkzn.les.basicInfo.dao.RoleDao">

<insert id="saveRole" parameterType="com.zkzn.les.basicInfo.pojo.Role" >
	<selectKey keyProperty="id" keyColumn="id" resultType="java.lang.String" order="BEFORE">
		select  replace(uuid(),'-','') from dual
	</selectKey>
	insert into t_role
	<trim prefix="(" suffix=")" prefixOverrides=",">
		id
		<if test="roleName !=null and '' !=roleName">,role_name</if>
		<if test="roleDesc !=null and '' !=roleDesc">,role_desc</if>
		<if test="roleCode !=null and '' !=roleCode">,role_code</if>
		<if test="status !=null and '' !=status">,status</if>
		<if test="createTime !=null ">,create_time</if>
			<if test="createrId !=null and ''!= createrId">,creater_id</if>
			<if test="createrName !=null and ''!= createrName">,creater_name</if>
	</trim>
	<trim prefix="values (" suffix=")" prefixOverrides="," >
		#{id, jdbcType=VARCHAR}
		<if test="roleName !=null and '' !=roleName">,#{roleName}</if>
		<if test="roleDesc !=null and '' !=roleDesc">,#{roleDesc}</if>
		<if test="roleCode !=null and '' !=roleCode">,#{roleCode}</if>
		<if test="status !=null and '' !=status">,#{status}</if>
		<if test="createTime !=null ">,#{createTime}</if>
		<if test="createrId !=null and ''!= createrId">,#{createrId}</if>
	   <if test="createrName !=null and ''!= createrName">,#{createrName}</if>
	</trim>
</insert>
<delete id="deleteRole" >
<if test="list.size()>0">
	delete from t_role where
	<foreach collection="list" item="item" index="index" open="(" separator="or" close=")">
		id=#{item}
	</foreach>
</if>
</delete>
<update id="updateRole" parameterType="com.zkzn.les.basicInfo.pojo.Role">
	update t_role
	<trim prefix="set" prefixOverrides=",">
		<if test="roleName !=null and '' !=roleName">,role_name = #{roleName}</if>
		<if test="roleDesc !=null and '' !=roleDesc">,role_desc = #{roleDesc}</if>
		<if test="roleCode !=null and '' !=roleCode">,role_code = #{roleCode}</if>
		<if test="status !=null">,status = #{status}</if>
		<if test="modifierId !=null and '' != modifierId">,modifier_id=#{modifierId}</if>
        <if test="modifierName !=null and '' != modifierName">,modifier_name=#{modifierName}</if>
        <if test="modifiedTime !=null">,modified_time=#{modifiedTime}</if>
	</trim>
	where id=#{id}
</update>
<select id="listRole" parameterType="com.zkzn.les.basicInfo.pojo.Role" resultMap="baseRole">
	select * from t_role r where 1=1
	<if test="roleName !=null and '' !=roleName">and role_name like '%${roleName}%'</if>
	<if test="roleDesc !=null and '' !=roleDesc">and role_desc like '%${roleDesc}%'</if>
	<if test="roleCode !=null and '' !=roleCode">and role_code like '%${roleCode}%'</if>
	<if test="userId !=null and '' !=userId">
	and not exists ( select * from t_user_role ur where ur.role_id = r.id and ur.user_id=#{userId})
	</if>
	<if test="status !=null ">and status = #{status}</if>
	<if test="sortColums !=null and  '' !=sortColums">order by ${sortColums}</if>
</select>
<resultMap type="com.zkzn.les.basicInfo.pojo.Role" id="baseRole">
	<result property="roleName" column="role_name"/>
	<result property="roleCode" column="role_code"/>
	<result property="roleDesc" column="role_desc"/>
</resultMap>
<select id="getByRoleName"  resultMap="baseRole">
	select * from t_role where 1=1
	<if test="roleName !=null and '' !=roleName">and role_name = #{roleName}</if>
	<if test="roleId !=null and '' !=roleId">and id!= #{roleId}</if>
</select>
</mapper>

