<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkzn.les.basicInfo.dao.StrategyCarDao">
 
 	<select id="listStrategyCar" parameterType="com.zkzn.les.basicInfo.pojo.StrategyCar" resultType="com.zkzn.les.basicInfo.pojo.StrategyCar">
 		select * from t_strategy_car where 1=1
 		<if test="productLine !=null and ''!= productLine">
 			and product_line like '%${productLine}%'
 		</if>
 		<if test="projectCode !=null and ''!= projectCode">
 			and project_code like '%${projectCode}%'
 		</if>
 		<if test="cartCode !=null and ''!= cartCode">
 			and cart_code like '%${cartCode}%'
 		</if>
 		<if test="processCode !=null and ''!= processCode">
 			and process_code = #{processCode}
 		</if>
 		<if test="carrierCode !=null and ''!= carrierCode">
 			and carrier_code like '%${carrierCode}%'
 		</if>
 		<if test="subFactory !=null and ''!= subFactory">
 			and sub_factory like upper('%${subFactory}%')
 		</if>
 		<if test="stationModuleCode !=null and ''!= stationModuleCode">
 			and station_module_code = #{stationModuleCode}
 		</if>
 		<if test="carrierType !=null and ''!= carrierType">
 			and carrier_type like upper('%${carrierType}%')
 		</if>
 		<if test="superCarrier !=null and ''!= superCarrier">
 			and super_carrier = #{superCarrier}
 		</if>
 		<if test="pipeLine !=null and ''!= pipeLine">
 			and pipe_line like '%${pipeLine}%'
 		</if>
 		<choose>
 		<when test="sortColums !=null and  ''!= sortColums">
 		order by ${sortColums} 
 		</when>
 		
 		<otherwise>
 		order by  create_time desc
 		</otherwise>
 		</choose>
 		 
 	</select>

	<insert id="insertStrategy" parameterType="java.util.List">
	<if test="list.size()>0">
		insert into t_strategy_car (ID,PRODUCT_LINE,PROJECT_CODE,CART_CODE,SUB_FACTORY,CART_TYPE_CODE,
		CART_TYPE_DESC,STATION_MODULE_CODE,STATION_DESC,PROCESS_CODE,PROCESS_DESC,TYPE,CARRIER_TYPE,
		 PUT_LEVEL,SECOND_CARRIER_TYPE,SUPER_CARRIER,FACTORY,BOMUSE,STATION_CODE,PIPE_LINE,SUBLINE_CODE,SUBLINE_DESC,create_time,CREATE_UID)
		select  replace(uuid(),'-',''),a.* from(
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
			SELECT #{item.productLine},#{item.projectCode},#{item.cartCode},#{item.subFactory},#{item.cartTypeCode}
			,#{item.cartTypeDesc},#{item.stationModuleCode},#{item.stationDesc},#{item.processCode},#{item.processDesc},#{item.type}
			,#{item.carrierType},#{item.putLevel},#{item.secondCarrierType},#{item.superCarrier},#{item.factory}
			,#{item.bomuse},#{item.stationCode},#{item.pipeLine},#{item.sublineCode},#{item.sublineDesc},#{item.createTime},#{item.creater}
			 from dual
		</foreach>
		) a
		</if>
	</insert>
	<insert id="insertSapBom" parameterType="java.util.List">
	<if test="list.size()>0">
		insert into t_sap_bom (ID,CART_TYPE_CODE,CART_TYPE_DESC,STATION_MODULE_CODE,STATION_DESC,
		PROCESS_CODE,PROCESS_DESC,MATERIAL_CODE,MATERIAL_DESC,PRODUCT_LINE,SUB_FACTORY,STATION_CODE,
		SUBLINE_CODE,SUBLINE_DESC,CREATE_TIME)
		select  replace(uuid(),'-',''),a.* from(
		<foreach collection="list" item="item" index="index" separator="UNION ALL">
			SELECT #{item.cartTypeCode},#{item.cartTypeDesc},#{item.stationModuleCode},#{item.stationDesc},#{item.processCode}
			,#{item.processDesc},#{item.materialCode},#{item.materialDesc},#{item.productLine},#{item.subFactory},#{item.stationCode}
			,#{item.sublineCode},#{item.sublineDesc},sysdate
			 from dual
		</foreach>
		) a
	</if>
	</insert>
	<select id="listHasStrategy" resultType="java.util.Map">
	<if test="list.size()>0">
		select * from (
			select PRODUCT_LINE || '-'|| SUB_FACTORY || '-' ||STATION_CODE||'-' || CART_TYPE_CODE || '-' || STATION_MODULE_CODE||'-'|| PROCESS_CODE as subStr,id as "id"
			from t_strategy_car 
		) strategy where subStr in 
		<foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
			#{item}
		</foreach>
	</if>
	</select>
	<insert id="insertStrategySing" parameterType="com.zkzn.les.basicInfo.pojo.StrategyCar">
		<selectKey keyProperty="id" keyColumn="id" order="BEFORE" resultType="java.lang.String">
			select  replace(uuid(),'-','') from dual
		</selectKey>
		insert into t_strategy_car 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="productLine !=null and ''!= productLine" >product_line,</if>
			<if test="projectCode !=null and ''!= projectCode" >project_code,</if>
			<if test="cartCode !=null and ''!= cartCode" >cart_code,</if>
			<if test="subFactory !=null and ''!= subFactory" >sub_factory,</if>
			<if test="cartTypeCode !=null and ''!= cartTypeCode" >cart_type_code,</if>
			<if test="cartTypeDesc !=null and ''!= cartTypeDesc" >cart_type_desc,</if>
			<if test="stationModuleCode !=null and ''!= stationModuleCode" >station_module_code,</if>
			<if test="stationDesc !=null and ''!= stationDesc" >station_desc,</if>
			<if test="processCode !=null and ''!= processCode" >process_code,</if>
			<if test="processDesc !=null and ''!= processDesc" >process_desc,</if>
			<if test="type !=null and ''!= type" >type,</if>
			<if test="carrierType !=null and ''!= carrierType" >carrier_type,</if>
			<!-- <if test="carrierCode !=null and ''!= carrierCode" >carrier_code,</if> -->
			<if test="putLevel !=null and ''!= putLevel" >put_level,</if>
			<if test="secondCarrierType !=null and ''!= secondCarrierType" >second_carrier_type,</if>
			<if test="superCarrier !=null and ''!= superCarrier" >super_carrier,</if>
			<if test="factory !=null and ''!= factory" >factory,</if>
			<if test="bomuse !=null and ''!= bomuse" >bomuse,</if>
			<if test="stationCode !=null and ''!= stationCode" >station_code,</if>
			<if test="pipeLine !=null and ''!= pipeLine" >pipe_line,</if>
			<if test="status !=null " >status,</if>
			<if test="createTime !=null " >create_time,</if>
			<if test="creater !=null and ''!= creater" >create_uid,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR},
			<if test="productLine !=null and ''!= productLine" >#{productLine},</if>
			<if test="projectCode !=null and ''!= projectCode" >#{projectCode},</if>
			<if test="cartCode !=null and ''!= cartCode" >#{cartCode},</if>
			<if test="subFactory !=null and ''!= subFactory" >#{subFactory},</if>
			<if test="cartTypeCode !=null and ''!= cartTypeCode" >#{cartTypeCode},</if>
			<if test="cartTypeDesc !=null and ''!= cartTypeDesc" >#{cartTypeDesc},</if>
			<if test="stationModuleCode !=null and ''!= stationModuleCode" >#{stationModuleCode},</if>
			<if test="stationDesc !=null and ''!= stationDesc" >#{stationDesc},</if>
			<if test="processCode !=null and ''!= processCode" >#{processCode},</if>
			<if test="processDesc !=null and ''!= processDesc" >#{processDesc},</if>
			<if test="type !=null and ''!= type" >#{type},</if>
			<if test="carrierType !=null and ''!= carrierType" >#{carrierType},</if>
		<!-- 	<if test="carrierCode !=null and ''!= carrierCode" >#{carrierCode},</if> -->
			<if test="putLevel !=null and ''!= putLevel" >#{putLevel},</if>
			<if test="secondCarrierType !=null and ''!= secondCarrierType" >#{secondCarrierType},</if>
			<if test="superCarrier !=null and ''!= superCarrier" >#{superCarrier},</if>
			<if test="factory !=null and ''!= factory" >#{factory},</if>
			<if test="bomuse !=null and ''!= bomuse" >#{bomuse},</if>
			<if test="stationCode !=null and ''!= stationCode" >#{stationCode},</if>
			<if test="pipeLine !=null and ''!= pipeLine" >#{pipeLine},</if>
			<if test="status !=null " >#{status},</if>
			<if test="createTime !=null " >#{createTime},</if>
			<if test="creater !=null and ''!= creater" >#{creater},</if>
		</trim>
	</insert>
	<update id="updateStrategy" parameterType="com.zkzn.les.basicInfo.pojo.StrategyCar">
		update t_strategy_car 
		<trim prefix="set" prefixOverrides=",">
			<if test="productLine !=null and ''!= productLine" >product_line=#{productLine}</if>
			<if test="projectCode !=null and ''!= projectCode" >,project_code=#{projectCode}</if>
			<if test="cartCode !=null and ''!= cartCode" >,cart_code=#{cartCode}</if>
			<if test="subFactory !=null and ''!= subFactory" >,sub_factory=#{subFactory}</if>
			<if test="cartTypeCode !=null and ''!= cartTypeCode" >,cart_type_code=#{cartTypeCode}</if>
			<if test="cartTypeDesc !=null and ''!= cartTypeDesc" >,cart_type_desc=#{cartTypeDesc}</if>
			<if test="stationModuleCode !=null and ''!= stationModuleCode" >,station_module_code=#{stationModuleCode}</if>
			<if test="stationDesc !=null and ''!= stationDesc" >,station_desc=#{stationDesc}</if>
			<if test="processCode !=null and ''!= processCode" >,process_code=#{processCode}</if>
			<if test="processDesc !=null and ''!= processDesc" >,process_desc=#{processDesc}</if>
			<if test="type !=null and ''!= type" >,type=#{type}</if>
			<if test="carrierType !=null and ''!= carrierType" >,carrier_type=#{carrierType}</if>
			<if test="carrierCode !=null and ''!= carrierCode" >,carrier_code=#{carrierCode}</if>
			<if test="putLevel !=null and ''!= putLevel" >,put_level=#{putLevel}</if>
			<if test="secondCarrierType !=null and ''!= secondCarrierType" >,second_carrier_type=#{secondCarrierType}</if>
			<if test="superCarrier !=null and ''!= superCarrier" >,super_carrier=#{superCarrier}</if>
			<if test="factory !=null and ''!= factory" >,factory=#{factory}</if>
			<if test="bomuse !=null and ''!= bomuse" >,bomuse=#{bomuse}</if>
			<if test="stationCode !=null and ''!= stationCode" >,station_code=#{stationCode}</if>
			<if test="pipeLine !=null and ''!= pipeLine" >,pipe_line=#{pipeLine}</if>
			<if test="status !=null " >,status=#{status}</if>
			<if test="modifiedTime !=null " >,UPDATE_TIME=#{modifiedTime}</if>
			<if test="modifier !=null and ''!= modifier" >,UPDATE_UID=#{modifier}</if>
		</trim>
		where id=#{id}
	</update>
	<delete id="deleteStrategy">
	<if test="list.size()>0">
		delete from t_strategy_car where id in
		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	</delete>
	<update id="updateStrategyList" parameterType="java.util.List">
	<if test="list.size()>0">
		<foreach collection="list" index="index" item="item" close=";end;" open="begin" separator=";">
			update t_strategy_car
			<trim prefix="set" prefixOverrides=",">
				<if test="item.productLine !=null " >product_line=#{item.productLine}</if>
				<if test="item.projectCode !=null " >,project_code=#{item.projectCode}</if>
				<if test="item.cartCode !=null " >,cart_code=#{item.cartCode}</if>
				<if test="item.subFactory !=null " >,sub_factory=#{item.subFactory}</if>
				<if test="item.cartTypeCode !=null " >,cart_type_code=#{item.cartTypeCode}</if>
				<if test="item.cartTypeDesc !=null " >,cart_type_desc=#{item.cartTypeDesc}</if>
				<if test="item.stationModuleCode !=null " >,station_module_code=#{item.stationModuleCode}</if>
				<if test="item.stationDesc !=null " >,station_desc=#{item.stationDesc}</if>
				<if test="item.processCode !=null " >,process_code=#{item.processCode}</if>
				<if test="item.processDesc !=null " >,process_desc=#{item.processDesc}</if>
				<if test="item.type !=null and 'null' != item.type" >,type=#{item.type}</if>
				<if test="item.carrierType !=null and 'null' != item.carrierType" >,carrier_type=#{item.carrierType}</if>
				<if test="item.carrierCode !=null and 'null' != item.carrierCode" >,carrier_code=#{item.carrierCode}</if>
				<if test="item.putLevel !=null and 'null' != item.putLevel" >,put_level=#{item.putLevel}</if>
				<if test="item.secondCarrierType !=null and 'null' != item.secondCarrierType" >,second_carrier_type=#{item.secondCarrierType}</if>
				<if test="item.superCarrier !=null and 'null' != item.superCarrier" >,super_carrier=#{item.superCarrier}</if>
				<if test="item.factory !=null" >,factory=#{item.factory}</if>
				<if test="item.bomuse !=null " >,bomuse=#{item.bomuse}</if>
				<if test="item.stationCode !=null " >,station_code=#{item.stationCode}</if>
				<if test="item.pipeLine !=null " >,pipe_line=#{item.pipeLine}</if>
				<if test="item.status !=null " >,status=#{item.status}</if>
				<if test="item.createTime !=null " >,create_time=#{item.createTime}</if>
				<if test="item.creater !=null " >,create_uid=#{item.creater}</if>
			</trim>
			where id=#{item.id}
		</foreach>
		</if>
	</update>
	<select id="countStrategy" parameterType="com.zkzn.les.basicInfo.pojo.StrategyCar" resultType="java.lang.Integer">
		select count(0) from t_strategy_car where 1=1
		<if test="productLine !=null and ''!= productLine">
 			and product_line = #{productLine}
 		</if>
 		<if test="projectCode !=null and ''!= projectCode">
 			and project_code = #{projectCode}
 		</if>
 		<if test="cartCode !=null and ''!= cartCode">
 			and cart_code = #{cartCode}
 		</if>
 		<if test="processCode !=null and ''!= processCode">
 			and process_code = #{processCode}
 		</if>
 		<if test="carrierCode !=null and ''!= carrierCode">
 			and carrier_code = #{carrierCode}
 		</if>
 		<if test="subFactory !=null and ''!= subFactory">
 			and sub_factory = #{subFactory}
 		</if>
 		<if test="stationModuleCode !=null and ''!= stationModuleCode">
 			and station_module_code = #{stationModuleCode}
 		</if>
 		<if test="carrierType !=null and ''!= carrierType">
 			and carrier_type = #{carrierType}
 		</if>
 		<if test="superCarrier !=null and ''!= superCarrier">
 			and super_carrier = #{superCarrier}
 		</if>
 		<if test="pipeLine !=null and ''!= pipeLine">
 			and pipe_line = #{pipeLine}
 		</if>
	</select>
	
	
	<select id="countByInfo" parameterType="com.zkzn.les.basicInfo.pojo.StrategyCar" resultType="java.lang.Integer">
		select count(0) from t_strategy_car where  
		      sub_factory = #{subFactory}
 			and product_line = #{productLine}
 			and  station_code=#{stationCode}
 			and station_module_code = #{stationModuleCode} 
 		    and process_code = #{processCode}
     <if test="id !=null and ''!= id">
 			and id != #{id}
 		</if>
 		 
	</select>
	
	
</mapper>